Repository aws/s2n-tls, pull requests merged in 2019-11, with the labels that each got.

#1223 Add TLS 1.3 Finished Key labels and Finished Verify MAC calculation
  crypto/s2n_tls13_keys.c
  crypto/s2n_tls13_keys.h
  tests/unit/s2n_tls13_keys_test.c
Labels: type/tls_1.3

#1236 Fix session_id matching in s2n TLS 1.3 client
  tests/unit/s2n_server_hello_test.c
  tls/s2n_server_hello.c
Labels: type/tls_1.3

#1228 TLS 1.3 ClientFinished and ServerFinished
  crypto/s2n_tls13_keys.c
  crypto/s2n_tls13_keys.h
  tests/unit/s2n_tls13_client_finished_test.c
  tests/unit/s2n_tls13_keys_test.c
  tests/unit/s2n_tls13_server_finished_test.c
  tls/s2n_client_finished.c
  tls/s2n_handshake.h
  tls/s2n_handshake_io.c
  tls/s2n_server_finished.c
  tls/s2n_tls.h
  tls/s2n_tls13_handshake.c
  tls/s2n_tls13_handshake.h
Labels: type/tls_1.3

#1260 Update client handshake integ test to connect to KMS using PQ-hybrid ciphers
  tests/integration/s2n_client_endpoint_handshake_test.py
  tests/unit/s2n_cipher_preference_test.c
  tls/s2n_cipher_preferences.c
Labels: type/post-quantum

#1245 Initial CBMC proof for s2n_stuffer_init
  tests/cbmc/.gitignore
  tests/cbmc/README.md
  tests/cbmc/include/cbmc_proof/nondet.h
  tests/cbmc/include/cbmc_proof/proof_allocators.h
  tests/cbmc/proofs/Makefile.cbmc_batch
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/s2n_stuffer_init/Makefile
  tests/cbmc/proofs/s2n_stuffer_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_init/s2n_stuffer_init_harness.c
  tests/cbmc/source/proof_allocators.c
  tests/cbmc/stubs/abort_override_assert_false.c
Labels: type/formal_verification

#1268 Refactor round 1 SIKE code
  .travis/s2n_travis_build.sh
  CMakeLists.txt
  LICENSE
  Makefile
  lib/Makefile
  pq-crypto/Makefile
  pq-crypto/README.md
  pq-crypto/sike_r1/LICENSE.txt
  pq-crypto/sike_r1/Makefile
  pq-crypto/sike_r1/P503.c
  pq-crypto/sike_r1/P503_internal.h
  pq-crypto/sike_r1/Readme.md
  pq-crypto/sike_r1/api.h
  pq-crypto/sike_r1/config.h
  pq-crypto/sike_r1/ec_isogeny.c
  pq-crypto/sike_r1/fips202.c
  pq-crypto/sike_r1/fips202.h
  pq-crypto/sike_r1/fp_generic.c
  pq-crypto/sike_r1/fpx.c
  pq-crypto/sike_r1/sidh.c
  pq-crypto/sike_r1/sike_p503_r1_kem.c
  pq-crypto/sike_r1/sike_p503_r1_kem.h
  tests/fuzz/s2n_hybrid_ecdhe_sike_fuzz_test.c
  tests/saw/Makefile
  tests/saw/sike/proof/sike.saw
  tests/unit/s2n_sike_test.c
  tls/s2n_kem.c
Labels: type/post-quantum
