Repository aws/s2n-tls, pull requests merged in 2020-03, with the labels that each got.

#1507 s2n_stuffer_copy cbmc proof
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/s2n_stuffer_copy/Makefile
  tests/cbmc/proofs/s2n_stuffer_copy/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_copy/s2n_stuffer_copy_harness.c
  tests/cbmc/source/make_common_datastructures.c
  tests/unit/s2n_cbc_verify_test.c
  tests/unit/s2n_safety_test.c
  tests/unit/s2n_tls13_support_test.c
  tls/s2n_client_hello.c
  tls/s2n_prf.c
  tls/s2n_server_hello.c
  utils/s2n_blob.c
  utils/s2n_blob.h
  utils/s2n_mem.c
  utils/s2n_safety.c
  utils/s2n_safety.h
Labels: CBMC

#1594 Add PQ self-talk handshake integration test
  tests/integration/Makefile
  tests/integration/s2n_pq_handshake_test.py
Labels: type/post-quantum

#1644 TLS 1.3 Server and Encrypted Extensions Fixes Part 1
  tests/unit/s2n_server_extensions_test.c
  tls/s2n_server_extensions.c
  tls/s2n_tls.h
Labels: type/tls_1.3, type/tls_extension

#1637 Update SIKE_P434_R2 IANA value in preparation for spec change
  tests/unit/kats/hybrid_ecdhe_sike_r2.kat
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_kem_test.c
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#1674 Decouple RSA PSS conditional for signing and certificate support
  crypto/s2n_rsa_pss.c
  crypto/s2n_rsa_pss.h
  crypto/s2n_rsa_signing.c
  crypto/s2n_rsa_signing.h
  tests/unit/s2n_auth_selection_test.c
  tests/unit/s2n_handshake_test.c
  tests/unit/s2n_rsa_pss_rsae_test.c
  tests/unit/s2n_rsa_pss_test.c
  tests/unit/s2n_server_cert_verify_test.c
  tests/unit/s2n_signature_algorithms_test.c
  tls/s2n_signature_algorithms.c
Labels: type/tls_1.3

#1672 Support Sending TLS 1.3 Encrypted Extensions
  tests/unit/s2n_encrypted_extensions_test.c
  tests/unit/s2n_server_extensions_test.c
  tls/extensions/s2n_server_alpn.c
  tls/extensions/s2n_server_alpn.h
  tls/extensions/s2n_server_max_fragment_length.c
  tls/extensions/s2n_server_max_fragment_length.h
  tls/extensions/s2n_server_server_name.c
  tls/extensions/s2n_server_server_name.h
  tls/extensions/s2n_server_supported_versions.c
  tls/extensions/s2n_server_supported_versions.h
  tls/s2n_encrypted_extensions.c
  tls/s2n_server_extensions.c
  tls/s2n_server_hello.c
  tls/s2n_tls.h
Labels: type/tls_1.3, type/tls_extension

#1698 ci: Run fuzz jobs in parallel on a schedule in another repo.
  .github/workflows/private_fork_pr_codebuild.yml
  .github/workflows/private_fork_scheduled_codebuild.yml
  codebuild/codebuild.config
  codebuild/create_project.py
Labels: type/fuzz_test

#1712 Use ADX instructions where applicable in SIKE R2 assembly
  CMakeLists.txt
  pq-crypto/Makefile
  pq-crypto/sike_r2/Makefile
  pq-crypto/sike_r2/fp_x64_asm.S
Labels: type/post-quantum
