Repository aws/s2n-tls, pull requests merged in 2020-08, with the labels that each got.

#2204 Implements sending PQ named groups for TLS 1.3
  tests/unit/s2n_client_supported_groups_extension_test.c
  tls/extensions/s2n_client_supported_groups.c
Labels: type/post-quantum

#2169 Update references to master branch with main branch
  .github/workflows/private_sync.yml
  README.md
  docs/DEVELOPMENT-GUIDE.md
  docs/USAGE-GUIDE.md
  error/s2n_errno.c
  libcrypto-build/README.md
  pq-crypto/README.md
  tests/integration/s2n_test_constants.py
  tests/sidetrail/DEBUGGING.md
  tests/sidetrail/working/s2n-record-read-cbc-negative-test/stubs/s2n_cbc.c
  tests/sidetrail/working/s2n-record-read-cbc/stubs/s2n_cbc.c
Labels: type/docs

#2189 Implement client-side receiving of hybrid PQ key share extension for tls1.3
  tests/unit/kats/tls13_server_hybrid_key_share_recv.kat
  tests/unit/s2n_ecc_preferences_test.c
  tests/unit/s2n_kem_preferences_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tls/extensions/s2n_server_key_share.c
  tls/s2n_ecc_preferences.c
  tls/s2n_ecc_preferences.h
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
Labels: type/post-quantum

#2210 finished_recv fuzz tests
  tests/fuzz/corpus/s2n_client_finished_recv_test/0ab07ab559f88de5ce9a329256584892bc4645e7
  tests/fuzz/corpus/s2n_client_finished_recv_test/427eada5386c430a75597deab0f2f8e76b17a5c8
  tests/fuzz/corpus/s2n_client_finished_recv_test/57112a94eb59411237039ebb8fcfe2e7b1b09e9a
  tests/fuzz/corpus/s2n_client_finished_recv_test/887fedea575e1cdd971ff6377c6468eb50f2e94b
  tests/fuzz/corpus/s2n_client_finished_recv_test/a6f57425137e9aa54537f0b3f5364ce165aedb0a
  tests/fuzz/corpus/s2n_server_finished_recv_test/709dc3b079d69b376985029e4bf8f00dfc8989bc
  tests/fuzz/corpus/s2n_server_finished_recv_test/74d568f53c2b4a330a72cd8b0f87086828891435
  tests/fuzz/corpus/s2n_server_finished_recv_test/9a78211436f6d425ec38f5c4e02270801f3524f8
  tests/fuzz/corpus/s2n_server_finished_recv_test/dc57b17264f75c730819e74997326763583815a9
  tests/fuzz/corpus/s2n_server_finished_recv_test/e7fb3314544e3b95eef035b8d6c0b5d60261abd7
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/3fc795dc9c98a1882be38661dec95ce75db04571
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/41c6725d8240e6b36740d2f6af3024a0ae16546b
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/58668e7669fd564d99db5d581fcdb6a5618440b5
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/5c2dd944dde9e08881bef0894fe7b22a5c9c4b06
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/5dd8c5def089a6e613c074f0106b1f3582082b90
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/6a2ffa3567b0d286348f4e6942d3e8e62d820d2a
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/6df09c34bcf8fe8d934f8d98c20adfb66d159bc3
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/7fd88c329b63b57572a0032cf14e3e9ec861ce5f
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/8fec4f8b8295d296d96eaceb15da29e27f8192ca
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/910fef0da6f475e61d2e510a9b8e35b77715f9a9
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/99f2aa95e36f95c2acb0eaf23998f030638f3f15
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/a251be896b314153895c81418a8fad621a0e1823
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/bb589d0621e5472f470fa3425a234c74b1e202e8
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/c4595d8f743731cbc1ca0bb34be79a40d771ddf0
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/e18f29eb675433d1972da5cba2644c7d420a530b
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/f18d96198762d11fe6970eb98c026796ae7c51dd
  tests/fuzz/corpus/s2n_tls13_client_finished_recv_test/f734dfb288ac8e9989eeecee1c8b93ec1c93b6b9
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/133a27e647260ea0eb90e80c4c0cc923d8310581
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/22ea1c649c82946aa6e479e1ffd321e4a318b1b0
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/369edbffea22018bd4e929411591ba13723e519d
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/438d9592996d7a42771e48e9bf8b779f98eeb464
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/5ba93c9db0cff93f52b521d7420e43f6eda2784f
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/73b74736664ad85828ce1be2e29fb4a68d24402b
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/8768a53e1d4c182907306300f9ca90cfd8018383
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/bb589d0621e5472f470fa3425a234c74b1e202e8
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/bc38d510dbe5ea70b83d314d4c0579f9d85d64e9
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/c000a51366616d33f9df61c9260fba450f9e2e7c
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/c314f8c1fa13e1afa11c8716c7bce6dbf02d09aa
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/c4595d8f743731cbc1ca0bb34be79a40d771ddf0
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/d9969d5b9cd63afde4731cee8f8c43852dbec604
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/e27bd5104a595844730f44df571de7da07951ffb
  tests/fuzz/corpus/s2n_tls13_server_finished_recv_test/ec2cc26fe7eca87755ea1b151d74be207f631956
  tests/fuzz/s2n_client_finished_recv_test.c
  tests/fuzz/s2n_server_finished_recv_test.c
  tests/fuzz/s2n_tls13_client_finished_recv_test.c
  tests/fuzz/s2n_tls13_server_finished_recv_test.c
Labels: type/fuzz_test

#2218 Adds kyber512r2 TLS1.3 KEM groups
  tests/unit/kats/tls13_server_hybrid_key_share_recv.kat
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2193 Adds initial CBMC proofs for s2n_array and s2n_set
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/proofs/s2n_array_capacity/Makefile
  tests/cbmc/proofs/s2n_array_capacity/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_array_capacity/s2n_array_capacity_harness.c
  tests/cbmc/proofs/s2n_array_new/Makefile
  tests/cbmc/proofs/s2n_array_new/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_array_new/s2n_array_new_harness.c
  tests/cbmc/proofs/s2n_array_num_elements/Makefile
  tests/cbmc/proofs/s2n_array_num_elements/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_array_num_elements/s2n_array_num_elements_harness.c
  tests/cbmc/proofs/s2n_set_len/Makefile
  tests/cbmc/proofs/s2n_set_len/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_set_len/s2n_set_len_harness.c
  tests/cbmc/sources/make_common_datastructures.c
  tests/cbmc/stubs/memset_havoc.c
  utils/s2n_array.c
  utils/s2n_array.h
  utils/s2n_set.c
  utils/s2n_set.h
Labels: CBMC

#2248 Adds proof harnesses for s2n_set_* functions
  tests/cbmc/proofs/s2n_set_add/Makefile
  tests/cbmc/proofs/s2n_set_add/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_set_add/s2n_set_add_harness.c
  tests/cbmc/proofs/s2n_set_get/Makefile
  tests/cbmc/proofs/s2n_set_get/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_set_get/s2n_set_get_harness.c
  tests/cbmc/proofs/s2n_set_new/Makefile
  tests/cbmc/proofs/s2n_set_new/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_set_new/s2n_set_new_harness.c
  tests/cbmc/proofs/s2n_set_remove/Makefile
  tests/cbmc/proofs/s2n_set_remove/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_set_remove/s2n_set_remove_harness.c
  tests/cbmc/stubs/memmove_havoc.c
  utils/s2n_safety.h
  utils/s2n_set.c
  utils/s2n_set.h
Labels: CBMC

#2215 Implements client-side sending of PQ key shares for 1.3
  tests/unit/s2n_client_key_share_extension_test.c
  tls/extensions/s2n_client_key_share.c
Labels: type/post-quantum
