Repository aws/s2n-tls, pull requests merged in 2020-07, with the labels that each got.

#2100 fuzz: add S2N_FUZZ_TARGET macro
  tests/fuzz/LD_PRELOAD/global_overrides.c
  tests/fuzz/LD_PRELOAD/s2n_client_cert_verify_recv_test_overrides.c
  tests/fuzz/LD_PRELOAD/s2n_memory_leak_negative_test_overrides.c
  tests/fuzz/Makefile
  tests/fuzz/Readme.md
  tests/fuzz/s2n_bike_r1_fuzz_test.c
  tests/fuzz/s2n_bike_r2_fuzz_test.c
  tests/fuzz/s2n_cert_req_recv_test.c
  tests/fuzz/s2n_certificate_extensions_parse_test.c
  tests/fuzz/s2n_client_cert_recv_test.c
  tests/fuzz/s2n_client_cert_verify_recv_test.c
  tests/fuzz/s2n_client_fuzz_test.c
  tests/fuzz/s2n_client_hello_recv_fuzz_test.c
  tests/fuzz/s2n_client_key_recv_fuzz_test.c
  tests/fuzz/s2n_encrypted_extensions_recv_test.c
  tests/fuzz/s2n_extensions_client_key_share_recv_test.c
  tests/fuzz/s2n_extensions_client_supported_versions_recv_test.c
  tests/fuzz/s2n_extensions_server_key_share_recv_test.c
  tests/fuzz/s2n_extensions_server_supported_versions_recv_test.c
  tests/fuzz/s2n_hybrid_ecdhe_bike_r1_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_bike_r2_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_sike_r1_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_sike_r2_fuzz_test.c
  tests/fuzz/s2n_memory_leak_negative_test.c
  tests/fuzz/s2n_openssl_diff_pem_parsing_test.c
  tests/fuzz/s2n_recv_client_supported_groups_test.c
  tests/fuzz/s2n_select_server_cert_test.c
  tests/fuzz/s2n_server_cert_recv_test.c
  tests/fuzz/s2n_server_extensions_recv_test.c
  tests/fuzz/s2n_server_fuzz_test.c
  tests/fuzz/s2n_server_hello_recv_test.c
  tests/fuzz/s2n_sike_r1_fuzz_test.c
  tests/fuzz/s2n_sike_r2_fuzz_test.c
  tests/fuzz/s2n_stuffer_pem_fuzz_test.c
  tests/s2n_test.h
Labels: ops-backlog

#2097 Removed extra cert validator call
  tests/fuzz/s2n_certificate_extensions_parse_test.c
Labels: type/fuzz_test

#2056 Importing Kyber PQ KEM
  CMakeLists.txt
  lib/Makefile
  pq-crypto/Makefile
  pq-crypto/kyber_r2/Makefile
  pq-crypto/kyber_r2/cbd.c
  pq-crypto/kyber_r2/cbd.h
  pq-crypto/kyber_r2/fips202_kyber_r2.c
  pq-crypto/kyber_r2/fips202_kyber_r2.h
  pq-crypto/kyber_r2/indcpa.c
  pq-crypto/kyber_r2/indcpa.h
  pq-crypto/kyber_r2/kyber_r2_kem.c
  pq-crypto/kyber_r2/kyber_r2_kem.h
  pq-crypto/kyber_r2/ntt.c
  pq-crypto/kyber_r2/ntt.h
  pq-crypto/kyber_r2/params.h
  pq-crypto/kyber_r2/poly.c
  pq-crypto/kyber_r2/poly.h
  pq-crypto/kyber_r2/polyvec.c
  pq-crypto/kyber_r2/polyvec.h
  pq-crypto/kyber_r2/reduce.c
  pq-crypto/kyber_r2/reduce.h
  pq-crypto/kyber_r2/symmetric-fips202.c
  pq-crypto/kyber_r2/symmetric.h
  pq-crypto/kyber_r2/verify.c
  pq-crypto/kyber_r2/verify.h
  tests/fuzz/corpus/s2n_kyber_r2_fuzz_test/3c89586d99f2567d21410f29b1b2606574892aa7
  tests/fuzz/corpus/s2n_kyber_r2_fuzz_test/fab989d6b86adfecea8739de2354f7ec06194047
  tests/fuzz/corpus/s2n_kyber_r2_fuzz_test/valid_ciphertext
  tests/fuzz/runFuzzTest.sh
  tests/fuzz/s2n_kyber_r2_fuzz_test.c
  tests/saw/Makefile
  tests/unit/kats/kyber_r2.kat
  tests/unit/s2n_kyber_r2_kat_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2065 Adds a proof harness for s2n_mul_overflow
  tests/cbmc/proofs/s2n_mul_overflow_harness/Makefile
  tests/cbmc/proofs/s2n_mul_overflow_harness/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_mul_overflow_harness/s2n_mul_overflow_harness.c
  utils/s2n_safety.c
Labels: CBMC

#2072 Created draft proof for s2n_constant_time_equals
  tests/cbmc/proofs/s2n_safety_constant_time_equals/Makefile
  tests/cbmc/proofs/s2n_safety_constant_time_equals/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_safety_constant_time_equals/s2n_safety_constant_time_equals_harness.c
  tests/fuzz/LD_PRELOAD/s2n_client_fuzz_test_overrides.c
  tests/fuzz/LD_PRELOAD/s2n_server_fuzz_test_overrides.c
  tests/sidetrail/working/patches/safety.patch
  tests/sidetrail/working/s2n-cbc/patches/safety.patch
  utils/s2n_safety.c
  utils/s2n_safety.h
Labels: CBMC

#2044 Adds a proof for s2n_stuffer_peek_check_for_str
  stuffer/s2n_stuffer_pem.c
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_peek_check_for_str/Makefile
  tests/cbmc/proofs/s2n_stuffer_peek_check_for_str/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_peek_check_for_str/s2n_stuffer_peek_check_for_str_harness.c
Labels: CBMC

#2046 Adds a proof harness for s2n_stuffer_read_token
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_read_token/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_token/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_token/s2n_stuffer_read_token_harness.c
Labels: CBMC

#2048 Adds a proof harness for s2n_stuffer_read_line
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_read_line/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_line/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_line/s2n_stuffer_read_line_harness.c
Labels: CBMC

#2069 Adds a proof harness for s2n_stuffer_skip_read_until
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_skip_read_until/Makefile
  tests/cbmc/proofs/s2n_stuffer_skip_read_until/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_skip_read_until/s2n_stuffer_skip_read_until_harness.c
Labels: CBMC

#2143 Adds Kyber r2 KEM test
  tests/unit/s2n_hybrid_ecdhe_bike_r2_test.c
  tests/unit/s2n_hybrid_ecdhe_sike_r2_test.c
  tests/unit/s2n_kyber_r2_kem_test.c
  tests/unit/s2n_sike_r2_kem_test.c
Labels: type/post-quantum

#2037 Adds a proof for s2n_stuffer_skip_whitespace
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_pem.c
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_skip_whitespace/Makefile
  tests/cbmc/proofs/s2n_stuffer_skip_whitespace/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_skip_whitespace/s2n_stuffer_skip_whitespace_harness.c
  tests/unit/s2n_stuffer_text_test.c
Labels: CBMC

#2054 Adds proof harnesses for s2n_stuffer_file functions
  stuffer/s2n_stuffer_file.c
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/include/cbmc_proof/nondet.h
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_fd/Makefile
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_fd/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_fd/s2n_stuffer_alloc_ro_from_fd_harness.c
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_file/Makefile
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_file/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_file/s2n_stuffer_alloc_ro_from_file_harness.c
  tests/cbmc/sources/make_common_datastructures.c
  tests/cbmc/stubs/close.c
  tests/cbmc/stubs/fstat.c
  tests/cbmc/stubs/mmap.c
  tests/cbmc/stubs/open.c
Labels: CBMC

#2149 Adds hybrid ecdhe+kyber_r2 KAT test
  tests/unit/kats/hybrid_ecdhe_kyber_r2.kat
  tests/unit/s2n_hybrid_ecdhe_kyber_r2_test.c
Labels: type/post-quantum

#2068 Adds a proof harness for s2n_stuffer_*_base64
  stuffer/s2n_stuffer_base64.c
  tests/cbmc/proofs/s2n_stuffer_read_base64/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_base64/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_base64/s2n_stuffer_read_base64_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_base64/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_base64/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_base64/s2n_stuffer_write_base64_harness.c
  tests/cbmc/stubs/mlock.c
Labels: CBMC

#2066 Support multiple OpenSSL versions in integv2
  tests/integrationv2/README.md
  tests/integrationv2/configuration.py
  tests/integrationv2/conftest.py
  tests/integrationv2/global_flags.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_client_authentication.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_sni_match.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/tox.ini
  tests/integrationv2/utils.py
Labels: type/integration_test

#2058 Adds proof harnesses for s2n_stuffer_reserve* functions
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_network_order.c
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/proofs/s2n_stuffer_reserve/Makefile
  tests/cbmc/proofs/s2n_stuffer_reserve/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_reserve/s2n_stuffer_reserve_harness.c
  tests/cbmc/proofs/s2n_stuffer_reserve_uint16/Makefile
  tests/cbmc/proofs/s2n_stuffer_reserve_uint16/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_reserve_uint16/s2n_stuffer_reserve_uint16_harness.c
  tests/cbmc/proofs/s2n_stuffer_reserve_uint24/Makefile
  tests/cbmc/proofs/s2n_stuffer_reserve_uint24/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_reserve_uint24/s2n_stuffer_reserve_uint24_harness.c
  tests/cbmc/sources/make_common_datastructures.c
Labels: CBMC

#2064 Implements PQ hybrid shared secret derivation for TLS 1.3
  pq-crypto/README.md
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tls/s2n_connection.c
  tls/s2n_crypto.h
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls13_handshake.c
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2156 Adds test vectors for ECDHE+Kyber hybrid PRF
  tests/unit/kats/hybrid_prf.kat
  tests/unit/s2n_tls_hybrid_prf_test.c
Labels: type/post-quantum

#2059 Adds a proof harness for s2n_stuffer_write_vector_size
  crypto/s2n_certificate.c
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_network_order.c
  tests/cbmc/proofs/s2n_stuffer_write_reservation/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_reservation/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_reservation/s2n_stuffer_write_reservation_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_vector_size/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_vector_size/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_vector_size/s2n_stuffer_write_vector_size_harness.c
  tests/unit/s2n_certificate_extensions_test.c
  tests/unit/s2n_extension_list_parse_test.c
  tests/unit/s2n_server_extensions_test.c
  tests/unit/s2n_stuffer_network_order_test.c
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_client_server_name.c
  tls/extensions/s2n_extension_list.c
  tls/extensions/s2n_extension_type.c
  utils/s2n_safety.c
  utils/s2n_safety.h
Labels: CBMC

#1921 ci: capture sidetrail image and buildspec
  codebuild/codebuild.config
Labels: priority/low

#2071 Add proof harnesses for s2n_stuffer_*_fd functions
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_file.c
  tests/cbmc/include/cbmc_proof/nondet.h
  tests/cbmc/proofs/s2n_stuffer_recv_from_fd/Makefile
  tests/cbmc/proofs/s2n_stuffer_recv_from_fd/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_recv_from_fd/s2n_stuffer_recv_from_fd_harness.c
  tests/cbmc/proofs/s2n_stuffer_send_to_fd/Makefile
  tests/cbmc/proofs/s2n_stuffer_send_to_fd/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_send_to_fd/s2n_stuffer_send_to_fd_harness.c
  tests/cbmc/stubs/read.c
  tests/cbmc/stubs/write.c
  tests/fuzz/LD_PRELOAD/global_overrides.c
  tests/unit/s2n_release_non_empty_buffers_test.c
  tests/unit/s2n_self_talk_custom_io_test.c
Labels: CBMC

#2026 Adds a proof harness for s2n_stuffer_resize
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/s2n_stuffer_resize/Makefile
  tests/cbmc/proofs/s2n_stuffer_resize/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_resize/s2n_stuffer_resize_harness.c
Labels: CBMC

#2162 Add kem_group structure to s2n_kem_preferences
  tests/unit/s2n_security_policies_test.c
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tls/s2n_kem.h
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
Labels: type/post-quantum

#2123 Adds proof harnesses for s2n_stuffer_*_pem functions
  stuffer/s2n_stuffer_pem.c
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/include/cbmc_proof/nondet.h
  tests/cbmc/proofs/s2n_stuffer_certificate_from_pem/Makefile
  tests/cbmc/proofs/s2n_stuffer_certificate_from_pem/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_certificate_from_pem/s2n_stuffer_certificate_from_pem_harness.c
  tests/cbmc/proofs/s2n_stuffer_dhparams_from_pem/Makefile
  tests/cbmc/proofs/s2n_stuffer_dhparams_from_pem/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_dhparams_from_pem/s2n_stuffer_dhparams_from_pem_harness.c
  tests/cbmc/proofs/s2n_stuffer_private_key_from_pem/Makefile
  tests/cbmc/proofs/s2n_stuffer_private_key_from_pem/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_private_key_from_pem/s2n_stuffer_private_key_from_pem_harness.c
  tests/cbmc/sources/make_common_datastructures.c
  tests/cbmc/stubs/s2n_stuffer_read_base64.c
  tests/cbmc/stubs/s2n_stuffer_read_expected_str.c
  tests/cbmc/stubs/s2n_stuffer_skip_expected_char.c
  tests/cbmc/stubs/s2n_stuffer_skip_to_char.c
  tests/cbmc/stubs/s2n_stuffer_skip_whitespace.c
Labels: CBMC

#2179 CBMC proof for s2n_add_overflow
  tests/cbmc/proofs/s2n_add_overflow/Makefile
  tests/cbmc/proofs/s2n_add_overflow/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_add_overflow/s2n_add_overflow_harness.c
Labels: CBMC

#2172 Adds BIKE1L1R2 kem groups
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2165 PQ shared secret will be stored based on Client/Server mode
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tls/s2n_tls13_handshake.c
Labels: type/post-quantum

#2177 CBMC proofs that rely on an madvise stub
  tests/cbmc/proofs/s2n_blob_zeroize_free/Makefile
  tests/cbmc/proofs/s2n_blob_zeroize_free/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_zeroize_free/s2n_blob_zeroize_free_harness.c
  tests/cbmc/proofs/s2n_dup/Makefile
  tests/cbmc/proofs/s2n_dup/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dup/s2n_dup_harness.c
  tests/cbmc/proofs/s2n_mem_cleanup/Makefile
  tests/cbmc/proofs/s2n_mem_cleanup/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_mem_cleanup/s2n_mem_cleanup_harness.c
  tests/cbmc/proofs/s2n_realloc/Makefile
  tests/cbmc/proofs/s2n_realloc/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_realloc/s2n_realloc_harness.c
  tests/cbmc/stubs/madvise.c
Labels: CBMC

#2180 CBMC proof for s2n_strcpy
  tests/cbmc/proofs/s2n_strcpy/Makefile
  tests/cbmc/proofs/s2n_strcpy/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_strcpy/s2n_strcpy_harness.c
  utils/s2n_str.c
Labels: CBMC

#2178 CBMC proofs for s2n_safety functions
  tests/cbmc/proofs/s2n_align_to/Makefile
  tests/cbmc/proofs/s2n_align_to/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_align_to/s2n_align_to_harness.c
  tests/cbmc/proofs/s2n_constant_time_copy_or_dont/Makefile
  tests/cbmc/proofs/s2n_constant_time_copy_or_dont/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_constant_time_copy_or_dont/s2n_constant_time_copy_or_dont_harness.c
  tests/cbmc/proofs/s2n_constant_time_pkcs1_unpad_or_dont/Makefile
  tests/cbmc/proofs/s2n_constant_time_pkcs1_unpad_or_dont/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_constant_time_pkcs1_unpad_or_dont/s2n_constant_time_pkcs1_unpad_or_dont_harness.c
  tests/sidetrail/working/patches/safety.patch
  utils/s2n_safety.c
Labels: CBMC

#2182 pkcs3 to dh params CBMC proof
  tests/cbmc/include/openssl/dh.h
  tests/cbmc/include/openssl/ffc.h
  tests/cbmc/include/openssl/ossl_typ.h
  tests/cbmc/proofs/s2n_pkcs3_to_dh_params/Makefile
  tests/cbmc/proofs/s2n_pkcs3_to_dh_params/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_pkcs3_to_dh_params/s2n_pkcs3_to_dh_params_harness.c
  tests/cbmc/sources/openssl/dh_overrides.c
Labels: CBMC

#2191 Adds pre- and post-conditions to s2n_stuffer_resize
  stuffer/s2n_stuffer.c
Labels: CBMC
