Repository aws/s2n-tls, pull requests merged in 2020-12, with the labels that each got.

#2412 Ensure memory safety in s2n_hash functions
  crypto/s2n_evp.c
  crypto/s2n_evp.h
  crypto/s2n_hash.c
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/sources/make_common_datastructures.c
Labels: CBMC

#2430 Adds CBMC proof harness for s2n_array_init
  tests/cbmc/proofs/s2n_array_init/Makefile
  tests/cbmc/proofs/s2n_array_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_array_init/s2n_array_init_harness.c
  tests/cbmc/sources/make_common_datastructures.c
  utils/s2n_array.c
Labels: CBMC

#2426 PQ-enabled migration part 1
  pq-crypto/s2n_pq.c
  pq-crypto/s2n_pq.h
  tests/integrationv2/common.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_version_negotiation.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/utils.py
  tests/unit/s2n_cipher_suite_match_test.c
  tests/unit/s2n_client_hello_recv_test.c
  tests/unit/s2n_client_pq_kem_extension_test.c
  tests/unit/s2n_security_policies_test.c
  tls/s2n_cipher_suites.c
  tls/s2n_security_policies.c
Labels: type/post-quantum

#2427 Adds CBMC proofs for s2n_evp functions
  tests/cbmc/.gitignore
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips/Makefile
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips/s2n_digest_allow_md5_for_fips_harness.c
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips_boringssl_awslc/Makefile
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips_boringssl_awslc/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips_boringssl_awslc/s2n_digest_allow_md5_for_fips_harness.c
  tests/cbmc/proofs/s2n_digest_is_md5_allowed_for_fips/Makefile
  tests/cbmc/proofs/s2n_digest_is_md5_allowed_for_fips/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_digest_is_md5_allowed_for_fips/s2n_digest_is_md5_allowed_for_fips_harness.c
  tests/cbmc/sources/make_common_datastructures.c
Labels: CBMC

#2428 Adds proof harnesses for s2n_hash functions
  tests/cbmc/proofs/s2n_hash_const_time_get_currently_in_hash_block/Makefile
  tests/cbmc/proofs/s2n_hash_const_time_get_currently_in_hash_block/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_const_time_get_currently_in_hash_block/s2n_hash_const_time_get_currently_in_hash_block_harness.c
  tests/cbmc/proofs/s2n_hash_get_currently_in_hash_total/Makefile
  tests/cbmc/proofs/s2n_hash_get_currently_in_hash_total/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_get_currently_in_hash_total/s2n_hash_get_currently_in_hash_total_harness.c
  tests/cbmc/proofs/s2n_hash_is_ready_for_input/Makefile
  tests/cbmc/proofs/s2n_hash_is_ready_for_input/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_is_ready_for_input/s2n_hash_is_ready_for_input_harness.c
Labels: CBMC

#2440 Adds proof harnesses for s2n_dhe functions
  tests/cbmc/proofs/s2n_dh_params_check/Makefile
  tests/cbmc/proofs/s2n_dh_params_check/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_params_check/s2n_dh_params_check_harness.c
  tests/cbmc/proofs/s2n_dh_params_copy/Makefile
  tests/cbmc/proofs/s2n_dh_params_copy/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_params_copy/s2n_dh_params_copy_harness.c
  tests/cbmc/proofs/s2n_dh_params_free/Makefile
  tests/cbmc/proofs/s2n_dh_params_free/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_params_free/s2n_dh_params_free_harness.c
  tests/cbmc/proofs/s2n_dh_params_to_p_g_Ys/Makefile
  tests/cbmc/proofs/s2n_dh_params_to_p_g_Ys/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_params_to_p_g_Ys/s2n_dh_params_to_p_g_Ys_harness.c
Labels: CBMC

#2444 Add security policy to enable PQ TLS1.3
  codebuild/spec/buildspec_omnibus.yml
  tests/integrationv2/Makefile
  tests/integrationv2/common.py
  tests/integrationv2/test_compatibility_with_oqs_openssl.py
  tests/integrationv2/test_pq_handshake.py
  tests/unit/s2n_security_policies_test.c
  tests/unit/s2n_tls13_pq_handshake_test.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
Labels: type/post-quantum

#2429 Adds proof harnesses for s2n_hash functions
  crypto/s2n_hash.c
  tests/cbmc/proofs/s2n_hash_copy/Makefile
  tests/cbmc/proofs/s2n_hash_copy/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_copy/s2n_hash_copy_harness.c
  tests/cbmc/proofs/s2n_hash_digest/Makefile
  tests/cbmc/proofs/s2n_hash_digest/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_digest/s2n_hash_digest_harness.c
  tests/cbmc/proofs/s2n_hash_reset/Makefile
  tests/cbmc/proofs/s2n_hash_reset/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_reset/s2n_hash_reset_harness.c
  tests/cbmc/proofs/s2n_hash_update/Makefile
  tests/cbmc/proofs/s2n_hash_update/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_update/s2n_hash_update_harness.c
Labels: CBMC

#2439 Adds proof harnesses for s2n_dhe functions
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_client/Makefile
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_client/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_client/s2n_dh_compute_shared_secret_as_client_harness.c
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_server/Makefile
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_server/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_compute_shared_secret_as_server/s2n_dh_compute_shared_secret_as_server_harness.c
  tests/cbmc/proofs/s2n_dh_generate_ephemeral_key/Makefile
  tests/cbmc/proofs/s2n_dh_generate_ephemeral_key/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_generate_ephemeral_key/s2n_dh_generate_ephemeral_key_harness.c
  tests/cbmc/proofs/s2n_dh_p_g_Ys_to_dh_params/Makefile
  tests/cbmc/proofs/s2n_dh_p_g_Ys_to_dh_params/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_dh_p_g_Ys_to_dh_params/s2n_dh_p_g_Ys_to_dh_params_harness.c
Labels: CBMC

#2395 ci: AFL automation
  codebuild/create_project.py
  codebuild/fuzz_afl_codebuild.config
  codebuild/spec/buildspec_omnibus.yml
  codebuild/spec/buildspec_ubuntu_fuzz_afl.yml
  tests/fuzz/corpus/s2n_cert_req_recv_test/00dc21b060e0eeb47258d661f13b2052e1decf4a
  tests/fuzz/runFuzzTest.sh
Labels: type/fuzz_test

#2452 Refactor PQ crypto functions and header files
  error/s2n_errno.c
  error/s2n_errno.h
  pq-crypto/bike_r1/bike_r1_kem.c
  pq-crypto/bike_r1/bike_r1_kem.h
  pq-crypto/bike_r2/bike_r2_kem.c
  pq-crypto/bike_r2/bike_r2_kem.h
  pq-crypto/kyber_90s_r2/kyber_90s_r2_kem.c
  pq-crypto/kyber_90s_r2/kyber_90s_r2_kem.h
  pq-crypto/kyber_r2/kyber_r2_kem.c
  pq-crypto/kyber_r2/kyber_r2_kem.h
  pq-crypto/s2n_pq_utils.h
  pq-crypto/sike_r1/sike_r1_kem.c
  pq-crypto/sike_r1/sike_r1_kem.h
  pq-crypto/sike_r2/sike_r2_kem.c
  pq-crypto/sike_r2/sike_r2_kem.h
  tests/fuzz/s2n_bike_r1_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_bike_r1_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_bike_r2_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_kyber_r2_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_sike_r1_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_sike_r2_fuzz_test.c
  tests/testlib/s2n_kem_fuzz_testlib.c
  tests/unit/s2n_bike_r1_kem_test.c
  tests/unit/s2n_bike_r2_kem_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_extensions_server_key_share_select_test.c
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_kyber_r2_kem_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_sike_r1_kem_test.c
  tests/unit/s2n_sike_r2_kem_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
Labels: type/post-quantum

#2445 Added pre-shared key handshakes to tls13 state machine
  codebuild/bin/install_shellcheck.sh
  tests/unit/s2n_tls13_handshake_state_machine_test.c
  tls/s2n_handshake_io.c
Labels: psk

#2460 Consolidate PQ unit tests
  tests/testlib/s2n_pq_kat_test_utils.c
  tests/testlib/s2n_testlib.h
  tests/unit/s2n_bike_r1_kat_test.c
  tests/unit/s2n_bike_r1_kem_test.c
  tests/unit/s2n_bike_r2_kat_test.c
  tests/unit/s2n_bike_r2_kem_test.c
  tests/unit/s2n_hybrid_ecdhe_bike_r1_test.c
  tests/unit/s2n_hybrid_ecdhe_bike_r2_test.c
  tests/unit/s2n_hybrid_ecdhe_kyber_r2_test.c
  tests/unit/s2n_hybrid_ecdhe_sike_r1_test.c
  tests/unit/s2n_hybrid_ecdhe_sike_r2_test.c
  tests/unit/s2n_kyber_90s_r2_kat_test.c
  tests/unit/s2n_kyber_r2_kat_test.c
  tests/unit/s2n_kyber_r2_kem_test.c
  tests/unit/s2n_pq_kem_hybrid_kat_test.c
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_pq_kem_test.c
  tests/unit/s2n_sike_r1_kat_test.c
  tests/unit/s2n_sike_r1_kem_test.c
  tests/unit/s2n_sike_r2_kat_test.c
  tests/unit/s2n_sike_r2_kem_test.c
Labels: type/post-quantum

#2475 Assert PQ is enabled in KEM functions
  error/s2n_errno.c
  error/s2n_errno.h
  pq-crypto/bike_r1/bike_r1_kem.c
  pq-crypto/bike_r2/bike_r2_kem.c
  pq-crypto/kyber_90s_r2/kyber_90s_r2_kem.c
  pq-crypto/kyber_r2/kyber_r2_kem.c
  pq-crypto/sike_r1/sike_r1_kem.c
  pq-crypto/sike_r2/sike_r2_kem.c
  tests/unit/s2n_extensions_server_key_share_select_test.c
  tests/unit/s2n_pq_kem_test.c
Labels: type/post-quantum

#2481 Added psk to key schedule
  crypto/s2n_tls13_keys.c
  crypto/s2n_tls13_keys.h
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tests/unit/s2n_tls13_keys_test.c
  tls/s2n_tls13_handshake.c
Labels: psk
