Repository aws/s2n-tls, pull requests merged in 2020-04, with the labels that each got.

#1740 Fix S2N client's client_hello_version
  tests/unit/s2n_client_hello_recv_test.c
  tests/unit/s2n_client_hello_test.c
  tls/s2n_client_hello.c
Labels: type/tls_1.3

#1721 Add runtime compatibility checks for SIKE434 ASM code
  pq-crypto/sike_r2/P434.c
  pq-crypto/sike_r2/config.h
  pq-crypto/sike_r2/fp.c
  pq-crypto/sike_r2/fp_x64.c
  pq-crypto/sike_r2/fpx.c
  pq-crypto/sike_r2/sike_r2_code_identifier.h
  tests/saw/sike_r2/proof/fp_x64.saw
  tests/unit/Makefile
  tests/unit/s2n_sike_r2_verify_included_code_test.c
Labels: type/post-quantum

#1769 Make s_client integration tests run additional --tls13 flag tests
  tests/integration/s2n_handshake_test_s_client.py
Labels: type/integration_test
