Repository aws/s2n-tls, pull requests merged in 2020-06, with the labels that each got.

#1918 Adds a proof harness for the s2n_blob_init function
  error/s2n_errno.c
  error/s2n_errno.h
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/s2n_blob_init/Makefile
  tests/cbmc/proofs/s2n_blob_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_init/s2n_blob_init_harness.c
  tests/sidetrail/working/stubs/s2n_ensure.h
  utils/s2n_blob.c
  utils/s2n_ensure.h
  utils/s2n_safety.c
  utils/s2n_safety.h
Labels: CBMC

#1923 Adds a proof harness for the s2n_blob_is_growable
  tests/cbmc/proofs/s2n_blob_is_growable/Makefile
  tests/cbmc/proofs/s2n_blob_is_growable/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_is_growable/s2n_blob_is_growable_harness.c
  tests/cbmc/source/make_common_datastructures.c
  utils/s2n_mem.c
Labels: CBMC

#1920 Keyupdate send
  tests/integration/common/s2n_test_common.py
  tests/integration/common/s2n_test_openssl.py
  tests/integration/s2n_tls13_handshake_tests.py
  tests/unit/s2n_key_update_test.c
  tests/unit/s2n_post_handshake_test.c
  tests/unit/s2n_send_key_update_test.c
  tests/unit/s2n_tls13_keys_test.c
  tls/s2n_cipher_suites.c
  tls/s2n_cipher_suites.h
  tls/s2n_connection.h
  tls/s2n_key_update.c
  tls/s2n_key_update.h
  tls/s2n_post_handshake.c
  tls/s2n_post_handshake.h
  tls/s2n_record.h
  tls/s2n_record_write.c
  tls/s2n_send.c
  tls/s2n_tls13_handshake.c
Labels: type/tls_1.3

#1954 Adds a proof harness for s2n_stuffer_resize_if_empty
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/s2n_stuffer_resize_if_empty/Makefile
  tests/cbmc/proofs/s2n_stuffer_resize_if_empty/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_resize_if_empty/s2n_stuffer_resize_if_empty_harness.c
  tests/cbmc/source/make_common_datastructures.c
  utils/s2n_blob.c
  utils/s2n_mem.c
Labels: CBMC

#1924 Adds a proof harness for s2n_blob_zero function
  tests/cbmc/proofs/s2n_blob_zero/Makefile
  tests/cbmc/proofs/s2n_blob_zero/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_zero/s2n_blob_zero_harness.c
  tests/saw/spec/DRBG/DRBG.saw
  utils/s2n_blob.c
  utils/s2n_blob.h
  utils/s2n_mem.c
Labels: CBMC

#1986 Changed encrypted bytes threshold to a record limit
  crypto/s2n_sequence.c
  crypto/s2n_sequence.h
  tests/unit/s2n_key_update_test.c
  tests/unit/s2n_post_handshake_test.c
  tests/unit/s2n_send_key_update_test.c
  tests/unit/s2n_sequence_number_test.c
  tls/s2n_cipher_suites.c
  tls/s2n_cipher_suites.h
  tls/s2n_connection.h
  tls/s2n_key_update.c
  tls/s2n_key_update.h
  tls/s2n_post_handshake.c
  tls/s2n_post_handshake.h
  tls/s2n_record_write.c
  tls/s2n_send.c
Labels: type/tls_1.3

#1988 Generate correct cbmc-batch.yaml locally
  tests/cbmc/proofs/Makefile.cbmc_batch
  tests/cbmc/proofs/s2n_blob_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_is_growable/cbmc-batch.yaml
Labels: CBMC

#1967 Adds proof harnesses for s2n_stuffer_read_uint*
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_network_order.c
  tests/cbmc/include/cbmc_proof/cbmc_utils.h
  tests/cbmc/proofs/s2n_stuffer_read_uint16/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint16/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_uint16/s2n_stuffer_read_uint16_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint24/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint24/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_uint24/s2n_stuffer_read_uint24_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint32/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint32/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_uint32/s2n_stuffer_read_uint32_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint64/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint64/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_uint64/s2n_stuffer_read_uint64_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint8/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint8/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_read_uint8/s2n_stuffer_read_uint8_harness.c
  tests/cbmc/source/cbmc_utils.c
Labels: CBMC

#2002 Adds a proof harness for s2n_is_base64_char function
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_base64.c
  tests/cbmc/proofs/s2n_is_base64_char/Makefile
  tests/cbmc/proofs/s2n_is_base64_char/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_is_base64_char/s2n_is_base64_char_harness.c
Labels: CBMC

#1926 Adds a proof harness for s2n_blob_char_to_lower
  error/s2n_errno.h
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/s2n_blob_char_to_lower/Makefile
  tests/cbmc/proofs/s2n_blob_char_to_lower/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_blob_char_to_lower/s2n_blob_char_to_lower_harness.c
  tests/cbmc/source/make_common_datastructures.c
  tests/cbmc/stubs/__tolower.c
  tests/cbmc/stubs/s2n_calculate_stacktrace.c
  utils/s2n_blob.c
Labels: CBMC

#2006 Test mutual authentication across all versions of TLS.
  tests/integrationv2/providers.py
  tests/integrationv2/test_client_authentication.py
Labels: type/integration_test

#2003 SNI match test
  tests/integrationv2/common.py
  tests/integrationv2/configuration.py
  tests/integrationv2/constants.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_sni_match.py
Labels: type/integration_test

#2001 Adds proof harnesses for s2n_stuffer_write_uint*
  stuffer/s2n_stuffer_network_order.c
  tests/cbmc/include/cbmc_proof/endian.h
  tests/cbmc/proofs/s2n_stuffer_write_uint16/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint16/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_uint16/s2n_stuffer_write_uint16_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint24/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint24/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_uint24/s2n_stuffer_write_uint24_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint32/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint32/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_uint32/s2n_stuffer_write_uint32_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint64/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint64/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_uint64/s2n_stuffer_write_uint64_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint8/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint8/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_write_uint8/s2n_stuffer_write_uint8_harness.c
Labels: CBMC

#2020 Added check for empty cipher suites in client hello
  tests/unit/s2n_client_hello_recv_test.c
  tls/s2n_client_hello.c
Labels: type/tls_1.3

#2004 Migrate PQ handshake test to integv2.
  tests/integrationv2/common.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_pq_handshake.py
Labels: type/integration_test

#2035 Adds a proof harness for s2n_stuffer_reserve_space
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  tests/cbmc/proofs/s2n_stuffer_reserve_space/Makefile
  tests/cbmc/proofs/s2n_stuffer_reserve_space/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_reserve_space/s2n_stuffer_reserve_space_harness.c
Labels: CBMC

#2057 Fix security policy test for S2N_NO_PQ
  tests/unit/s2n_security_policies_test.c
Labels: type/post-quantum

#2061 Add CBMC proof for s2n_free
  tests/cbmc/proofs/s2n_free/Makefile
  tests/cbmc/proofs/s2n_free/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_free/s2n_free_harness.c
  tests/cbmc/proofs/s2n_free_object/Makefile
  tests/cbmc/proofs/s2n_free_object/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_free_object/s2n_free_object_harness.c
  tests/cbmc/stubs/munlock.c
  tests/cbmc/stubs/sysconf.c
  utils/s2n_mem.c
Labels: CBMC

#2033 Adds a proof for s2n_stuffer_alloc_ro_from_string
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_string/Makefile
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_string/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_alloc_ro_from_string/s2n_stuffer_alloc_ro_from_string_harness.c
  tests/fuzz/s2n_certificate_extensions_parse_test.c
  tests/unit/s2n_ssl_prf_test.c
  tests/unit/s2n_stuffer_base64_test.c
  tests/unit/s2n_tls_prf_test.c
  tests/unit/s2n_x509_validator_test.c
Labels: CBMC

#2052 Added check to ensure hello retry cipher suite and server hello cipher suite are the same
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tls/s2n_cipher_suites.c
Labels: type/safety, type/tls_1.3

#2025 Adds a proof harness for s2n_stuffer_extract_blob
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/s2n_stuffer_extract_blob/Makefile
  tests/cbmc/proofs/s2n_stuffer_extract_blob/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_extract_blob/s2n_stuffer_extract_blob_harness.c
Labels: CBMC

#2045 Integv2 refactors
  tests/integrationv2/common.py
  tests/integrationv2/configuration.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_client_authentication.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_session_resumption.py
  tests/integrationv2/tox.ini
  tests/integrationv2/utils.py
Labels: type/integration_test

#2089 Fixes a couple of proof harnesses
  tests/cbmc/proofs/s2n_mem_init/Makefile
  tests/cbmc/proofs/s2n_stuffer_extract_blob/Makefile
Labels: CBMC

#2060 Integv2 fragmentation test
  tests/integrationv2/configuration.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/utils.py
Labels: type/integration_test

#2038 Adds a proof harness for s2n_stuffer_skip_to_char
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_skip_to_char/Makefile
  tests/cbmc/proofs/s2n_stuffer_skip_to_char/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_skip_to_char/s2n_stuffer_skip_to_char_harness.c
Labels: CBMC

#2041 Adds a proof for s2n_stuffer_skip_expected_char
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_pem.c
  stuffer/s2n_stuffer_text.c
  tests/cbmc/proofs/s2n_stuffer_skip_expected_char/Makefile
  tests/cbmc/proofs/s2n_stuffer_skip_expected_char/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_stuffer_skip_expected_char/s2n_stuffer_skip_expected_char_harness.c
Labels: CBMC
