Repository aws/s2n-tls, pull requests merged in 2021-08, with the labels that each got.

#2997 Added support for sharing libcrypto (when embedded in another application/language)
  api/s2n.h
  docs/USAGE-GUIDE.md
  tls/s2n_cipher_suites.c
Labels: type/api

#2946 Import Kyber512 Round3 AVX2 Implementation
  CMakeLists.txt
  pq-crypto/kyber_r3/KeccakP-1600-times4-SIMD256_avx2.c
  pq-crypto/kyber_r3/KeccakP-1600-times4-SnP_avx2.h
  pq-crypto/kyber_r3/KeccakP-SIMD256-config_avx2.h
  pq-crypto/kyber_r3/KeccakP-align_avx2.h
  pq-crypto/kyber_r3/KeccakP-brg_endian_avx2.h
  pq-crypto/kyber_r3/Makefile
  pq-crypto/kyber_r3/kyber512r3_align_avx2.h
  pq-crypto/kyber_r3/kyber512r3_basemul_avx2.S
  pq-crypto/kyber_r3/kyber512r3_cbd_avx2.c
  pq-crypto/kyber_r3/kyber512r3_cbd_avx2.h
  pq-crypto/kyber_r3/kyber512r3_consts_avx2.c
  pq-crypto/kyber_r3/kyber512r3_consts_avx2.h
  pq-crypto/kyber_r3/kyber512r3_fips202x4_avx2.c
  pq-crypto/kyber_r3/kyber512r3_fips202x4_avx2.h
  pq-crypto/kyber_r3/kyber512r3_fq_avx2.S
  pq-crypto/kyber_r3/kyber512r3_indcpa_avx2.c
  pq-crypto/kyber_r3/kyber512r3_indcpa_avx2.h
  pq-crypto/kyber_r3/kyber512r3_invntt_avx2.S
  pq-crypto/kyber_r3/kyber512r3_kem.c
  pq-crypto/kyber_r3/kyber512r3_ntt_avx2.S
  pq-crypto/kyber_r3/kyber512r3_ntt_avx2.h
  pq-crypto/kyber_r3/kyber512r3_poly_avx2.c
  pq-crypto/kyber_r3/kyber512r3_poly_avx2.h
  pq-crypto/kyber_r3/kyber512r3_polyvec_avx2.c
  pq-crypto/kyber_r3/kyber512r3_polyvec_avx2.h
  pq-crypto/kyber_r3/kyber512r3_reduce_avx2.h
  pq-crypto/kyber_r3/kyber512r3_rejsample_avx2.c
  pq-crypto/kyber_r3/kyber512r3_rejsample_avx2.h
  pq-crypto/kyber_r3/kyber512r3_shuffle_avx2.S
  pq-crypto/s2n_pq.c
  pq-crypto/s2n_pq.h
  pq-crypto/s2n_pq_asm.mk
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_pq_kem_test.c
Labels: type/post-quantum

#2991 Adds Client and Server EMS Extension
  tests/unit/s2n_ems_extension_test.c
  tests/unit/s2n_server_extensions_test.c
  tls/extensions/s2n_client_ems.c
  tls/extensions/s2n_ems.h
  tls/extensions/s2n_extension_type.h
  tls/extensions/s2n_extension_type_lists.c
  tls/extensions/s2n_server_ems.c
  tls/s2n_connection.h
  tls/s2n_tls_parameters.h
Labels: EMS

#3018 Extra EMS Requirements
  tests/unit/s2n_ems_extension_test.c
  tls/extensions/s2n_client_ems.c
  tls/extensions/s2n_extension_type.c
  tls/extensions/s2n_server_ems.c
Labels: EMS
