Repository aws/s2n-tls, pull requests merged in 2021-05, with the labels that each got.

#2770 Adds session-resumption self-talk tests
  tests/unit/s2n_resume_test.c
  tests/unit/s2n_self_talk_session_resumption_test.c
  tests/unit/s2n_server_new_session_ticket_test.c
  tests/unit/s2n_session_ticket_test.c
  tests/unit/s2n_tls13_new_session_ticket_test.c
  tls/s2n_psk.c
  tls/s2n_resume.c
  tls/s2n_resume.h
  tls/s2n_server_new_session_ticket.c
Labels: type/tls_1.3

#2788 Formally verify no memory leaks for s2n_blob
  tests/cbmc/proofs/s2n_blob_zeroize_free/Makefile
  tests/cbmc/proofs/s2n_blob_zeroize_free/s2n_blob_zeroize_free_harness.c
  tests/cbmc/proofs/s2n_free/Makefile
  tests/cbmc/proofs/s2n_free/s2n_free_harness.c
  tests/cbmc/proofs/s2n_free_object/Makefile
  tests/cbmc/proofs/s2n_free_object/s2n_free_object_harness.c
  utils/s2n_mem.c
Labels: CBMC, type/formal_verification

#2773 ci: add unit test to s2n_codebuild.sh
  codebuild/bin/install_openssl_1_1_1.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_setup_env.sh
Labels: type/cmake, type/codebuild

#2694 Import kyber512r3
  CMakeLists.txt
  lib/Makefile
  pq-crypto/Makefile
  pq-crypto/kyber_r3/Makefile
  pq-crypto/kyber_r3/kyber512r3_cbd.c
  pq-crypto/kyber_r3/kyber512r3_cbd.h
  pq-crypto/kyber_r3/kyber512r3_fips202.c
  pq-crypto/kyber_r3/kyber512r3_fips202.h
  pq-crypto/kyber_r3/kyber512r3_indcpa.c
  pq-crypto/kyber_r3/kyber512r3_indcpa.h
  pq-crypto/kyber_r3/kyber512r3_kem.c
  pq-crypto/kyber_r3/kyber512r3_ntt.c
  pq-crypto/kyber_r3/kyber512r3_ntt.h
  pq-crypto/kyber_r3/kyber512r3_params.h
  pq-crypto/kyber_r3/kyber512r3_poly.c
  pq-crypto/kyber_r3/kyber512r3_poly.h
  pq-crypto/kyber_r3/kyber512r3_polyvec.c
  pq-crypto/kyber_r3/kyber512r3_polyvec.h
  pq-crypto/kyber_r3/kyber512r3_reduce.c
  pq-crypto/kyber_r3/kyber512r3_reduce.h
  pq-crypto/kyber_r3/kyber512r3_symmetric-shake.c
  pq-crypto/kyber_r3/kyber512r3_symmetric.h
  tests/saw/Makefile
  tests/unit/kats/kyber_90s_r2.kat
  tests/unit/kats/kyber_r2.kat
  tests/unit/kats/kyber_r3.kat
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_pq_kem_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2701 Import sikep434r3
  CMakeLists.txt
  lib/Makefile
  pq-crypto/Makefile
  pq-crypto/sike_r3/Makefile
  pq-crypto/sike_r3/sikep434r3.c
  pq-crypto/sike_r3/sikep434r3.h
  pq-crypto/sike_r3/sikep434r3_api.h
  pq-crypto/sike_r3/sikep434r3_ec_isogeny.c
  pq-crypto/sike_r3/sikep434r3_ec_isogeny.h
  pq-crypto/sike_r3/sikep434r3_fips202.c
  pq-crypto/sike_r3/sikep434r3_fips202.h
  pq-crypto/sike_r3/sikep434r3_fp.c
  pq-crypto/sike_r3/sikep434r3_fp.h
  pq-crypto/sike_r3/sikep434r3_fpx.c
  pq-crypto/sike_r3/sikep434r3_fpx.h
  pq-crypto/sike_r3/sikep434r3_kem.c
  pq-crypto/sike_r3/sikep434r3_sidh.c
  tests/saw/Makefile
  tests/unit/kats/sike_r3.kat
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_pq_kem_test.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_tls_parameters.h
Labels: type/post-quantum

#2810 Formally verify no memory leaks for s2n_array & s2n_set
  tests/cbmc/proofs/s2n_array_free/Makefile
  tests/cbmc/proofs/s2n_array_free/s2n_array_free_harness.c
  tests/cbmc/proofs/s2n_array_free_p/Makefile
  tests/cbmc/proofs/s2n_array_free_p/s2n_array_free_p_harness.c
  tests/cbmc/proofs/s2n_set_free/Makefile
  tests/cbmc/proofs/s2n_set_free/s2n_set_free_harness.c
  tests/cbmc/proofs/s2n_set_free_p/Makefile
  tests/cbmc/proofs/s2n_set_free_p/s2n_set_free_p_harness.c
  utils/s2n_array.c
Labels: CBMC, type/formal_verification

#2813 Formally verify no memory leaks in s2n_stuffer
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/s2n_stuffer_free/Makefile
  tests/cbmc/proofs/s2n_stuffer_free/s2n_stuffer_free_harness.c
Labels: CBMC, type/formal_verification

#2268 docs: add a Semver document
  VERSIONING.rst
  docs/USAGE-GUIDE.md
Labels: status/needs_team_discussion, type/docs

#2790 Add BIKE Round 3 Fuzz Tests
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/026fb541be0b8e538c4ee97d10c32e3c29c078ef
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/0e0c558f86ed8e3546acdcaae191b60268039167
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/113bfcdf2ec92fe3cc35133632038d1de246c201
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/17e87db6e5a312a46acdab23c8beca63a73756fa
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/2016011082e796e2896b33bb59599a0233cd6d6a
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/23b93850edc0076a5cb0c27868f0e4a0f3c51269
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/26a7b49bc7cb063b778e45b0413db07f4559e7d9
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/36da5fb66a478ed96c42a9dd9e0a1b761b28384f
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/3e8e3bea750046883c404ee32ac5848d2e621607
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/51f08a6aa3b1d4358992526ffdc448dba24943ac
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/5ec9be485273259c314f40c9da303ef7285aebec
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/649d7964aca635a9b07ae8fe4f793a7283d67beb
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/71853c6197a6a7f222db0f1978c7cb232b87c5ee
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/79242ef6cd69d73e179ad6465af2242ace007b84
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/7dcfce0b685e78ea6f3c7416a3806e8b66a79d14
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/840f4701b32cfb21e3cfbd3dc22892938c3d3a88
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/8522846046fb8e517ea2127ea9f6f112071e5393
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/8ad41670fd1d0bfc95594a69ebc24292aa3060aa
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/9158fa41b51a4239b49b32d6cfb094021d3c3dc7
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/a747edc7b49c260336d2f6881bc80d2001750ced
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/adc83b19e793491b1c6ea0fd8b46cd9f32e592fc
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/bff635ec1dccefc7356f55e7916300428a8c9be3
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/bike_r3_valid_ct
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/c8a662a5cd87000514f178a643f01df8aaa3ab12
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/dbf818c562018841ed3ebd1d947cb44f70b22be1
  tests/fuzz/corpus/s2n_bike_r3_recv_ciphertext_fuzz_test/e212b11bbfb0271eb02bb48e85b3411a5d9508ad
  tests/fuzz/corpus/s2n_bike_r3_recv_public_key_fuzz_test/05a79f06cf3f67f726dae68d18a2290f6c9a50c9
  tests/fuzz/corpus/s2n_bike_r3_recv_public_key_fuzz_test/7f2d2bcdb2eb7086c9b8106e7aa85c5df61bcff5
  tests/fuzz/corpus/s2n_bike_r3_recv_public_key_fuzz_test/a1bf423b08d82043bace784b0076d386e5189c43
  tests/fuzz/corpus/s2n_bike_r3_recv_public_key_fuzz_test/aa3e5dcdd77b153f2e59bd0d8794fde33cb4e486
  tests/fuzz/corpus/s2n_bike_r3_recv_public_key_fuzz_test/bike_r3_valid_pk
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/0e356ba505631fbf715758bed27d503f8b260e3a
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/3ce0a1af90b6e7a3dd8d45e410884b588ea2d04c
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/4f1cb4cfcda4e74c6476c46d69540c444dc321da
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/5ba93c9db0cff93f52b521d7420e43f6eda2784f
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/84e7de564e51cbdd5c7c0331e4e9c9ae626c813e
  tests/fuzz/corpus/s2n_hybrid_ecdhe_bike_r3_fuzz_test/valid_client
  tests/fuzz/s2n_bike_r3_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_bike_r3_recv_public_key_fuzz_test.c
  tests/fuzz/s2n_hybrid_ecdhe_bike_r3_fuzz_test.c
Labels: type/fuzz_test, type/post-quantum

#2837 Make digest_allow_md5_for_fips proof UID unique
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips_boringssl_awslc/Makefile
  tests/cbmc/proofs/s2n_digest_allow_md5_for_fips_boringssl_awslc/s2n_digest_allow_md5_for_fips_boringssl_awslc_harness.c
Labels: CBMC

#2841 Update codebuild script for NO_PQ when building unit tests with cmake
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_codebuild_al2.sh
  codebuild/bin/s2n_setup_env.sh
Labels: type/codebuild

#2848 Fix duplicate KEM assignment in pq_kem_test
  tests/unit/s2n_pq_kem_test.c
Labels: type/post-quantum

#2820 Integrate sikep434r3 x86_64 assembly
  CMakeLists.txt
  pq-crypto/Makefile
  pq-crypto/s2n_pq.c
  pq-crypto/s2n_pq.h
  pq-crypto/s2n_pq_asm.mk
  pq-crypto/sike_r3/Makefile
  pq-crypto/sike_r3/sikep434r3.h
  pq-crypto/sike_r3/sikep434r3_fp.c
  pq-crypto/sike_r3/sikep434r3_fp_x64_asm.S
  pq-crypto/sike_r3/sikep434r3_fp_x64_asm.h
  pq-crypto/sike_r3/sikep434r3_fpx.c
  tests/features/noop_main.c
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_pq_kem_test.c
Labels: type/post-quantum

#2853 Removes tolower stub from CBMC proofs
  tests/cbmc/proofs/s2n_blob_char_to_lower/Makefile
  tests/cbmc/stubs/__tolower.c
Labels: CBMC

#2714 Supports in-source build with AWS-LC.
  CMakeLists.txt
  cmake/modules/FindLibCrypto.cmake
  codebuild/bin/build_aws_crt_cpp.sh
Labels: type/build

#2867 More fixes for BIKE R3 optimized builds
  pq-crypto/bike_r3/sampling_avx512.c
  pq-crypto/bike_r3/x86_64_intrinsic.h
Labels: type/post-quantum
