Repository aws/s2n-tls, pull requests merged in 2021-06, with the labels that each got.

#2872 Update Codebuild batch spec with early data integration test
  codebuild/spec/buildspec_omnibus.yml
Labels: type/build

#2877 Release TLS1.3 Session Resumption
  api/s2n.h
  docs/USAGE-GUIDE.md
  tls/s2n_config.c
  tls/s2n_resume.h
Labels: type/docs

#2888 Adds Error Checking Around Fragment Length
  tests/unit/s2n_record_test.c
  tls/s2n_record_read.c
Labels: type/bug

#2896 Initial proofs for s2n_socket functions
  tests/cbmc/include/cbmc_proof/make_common_datastructures.h
  tests/cbmc/proofs/s2n_socket_is_ipv6/Makefile
  tests/cbmc/proofs/s2n_socket_is_ipv6/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_is_ipv6/s2n_socket_is_ipv6_harness.c
  tests/cbmc/proofs/s2n_socket_quickack/Makefile
  tests/cbmc/proofs/s2n_socket_quickack/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_quickack/s2n_socket_quickack_harness.c
  tests/cbmc/proofs/s2n_socket_read/Makefile
  tests/cbmc/proofs/s2n_socket_read/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_read/s2n_socket_read_harness.c
  tests/cbmc/proofs/s2n_socket_read_restore/Makefile
  tests/cbmc/proofs/s2n_socket_read_restore/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_read_restore/s2n_socket_read_restore_harness.c
  tests/cbmc/proofs/s2n_socket_read_snapshot/Makefile
  tests/cbmc/proofs/s2n_socket_read_snapshot/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_read_snapshot/s2n_socket_read_snapshot_harness.c
  tests/cbmc/proofs/s2n_socket_set_read_size/Makefile
  tests/cbmc/proofs/s2n_socket_set_read_size/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_set_read_size/s2n_socket_set_read_size_harness.c
  tests/cbmc/proofs/s2n_socket_was_corked/Makefile
  tests/cbmc/proofs/s2n_socket_was_corked/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_was_corked/s2n_socket_was_corked_harness.c
  tests/cbmc/proofs/s2n_socket_write/Makefile
  tests/cbmc/proofs/s2n_socket_write/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_write/s2n_socket_write_harness.c
  tests/cbmc/proofs/s2n_socket_write_cork/Makefile
  tests/cbmc/proofs/s2n_socket_write_cork/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_write_cork/s2n_socket_write_cork_harness.c
  tests/cbmc/proofs/s2n_socket_write_restore/Makefile
  tests/cbmc/proofs/s2n_socket_write_restore/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_write_restore/s2n_socket_write_restore_harness.c
  tests/cbmc/proofs/s2n_socket_write_snapshot/Makefile
  tests/cbmc/proofs/s2n_socket_write_snapshot/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_write_snapshot/s2n_socket_write_snapshot_harness.c
  tests/cbmc/proofs/s2n_socket_write_uncork/Makefile
  tests/cbmc/proofs/s2n_socket_write_uncork/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_socket_write_uncork/s2n_socket_write_uncork_harness.c
  tests/cbmc/sources/make_common_datastructures.c
  tests/cbmc/stubs/getpeername.c
  tests/cbmc/stubs/getsockopt.c
  tests/cbmc/stubs/setsockopt.c
  utils/s2n_socket.c
Labels: CBMC

#2885 OpenSSL rand-engine requires engine support
  crypto/s2n_openssl.h
Labels: type/build

#2897 ci: Add a stale bot configuration
  .github/stale.yml
Labels: type/cleanup

#2925 Fixing wrong file path in makefile for BIKE R3
  pq-crypto/s2n_pq_asm.mk
Labels: type/post-quantum

#2927 Add public function for wiping the trust store
  api/s2n.h
  docs/USAGE-GUIDE.md
  tests/unit/s2n_x509_validator_test.c
  tls/s2n_config.c
Labels: type/api
