Repository aws/s2n-tls, pull requests merged in 2021-04, with the labels that each got.

#2732 Check for validity in s2n_stuffer_wipe* operations
  stuffer/s2n_stuffer.c
  tests/cbmc/proofs/s2n_stuffer_wipe/s2n_stuffer_wipe_harness.c
  tests/cbmc/proofs/s2n_stuffer_wipe_n/Makefile
  tests/cbmc/proofs/s2n_stuffer_wipe_n/s2n_stuffer_wipe_n_harness.c
Labels: CBMC

#2771 Add missing Bike_r3 symbols when S2N_NO_PQ is set
  tls/s2n_kem.c
Labels: type/post-quantum

#2763 Allow ecc preferences without secp256r1
  tls/s2n_client_hello.c
  tls/s2n_security_policies.c
Labels: type/tls_1.3

#2769 Make s2n_connection_get_session_ticket_lifetime_hint work with TLS1.3
  tests/unit/s2n_session_ticket_test.c
  tls/s2n_server_new_session_ticket.c
Labels: type/tls_1.3

#2775 Removes pragmas from CBMC-proof harnesses
  tests/cbmc/proofs/s2n_array_free/s2n_array_free_harness.c
  tests/cbmc/proofs/s2n_array_free_p/s2n_array_free_p_harness.c
  tests/cbmc/proofs/s2n_free/s2n_free_harness.c
  tests/cbmc/proofs/s2n_free_object/s2n_free_object_harness.c
  tests/cbmc/proofs/s2n_realloc/s2n_realloc_harness.c
  tests/cbmc/proofs/s2n_set_free/s2n_set_free_harness.c
  tests/cbmc/proofs/s2n_set_free_p/s2n_set_free_p_harness.c
Labels: CBMC

#2781 Remove all occurrences of `#pragma check disable`
  tests/sidetrail/working/patches/safety.patch
  utils/s2n_safety.c
  utils/s2n_str.c
Labels: CBMC, type/formal_verification
