Repository aws/s2n-tls, pull requests merged in 2021-01, with the labels that each got.

#2507 Fix for rsa_pss_rsae_test
  tests/unit/s2n_rsa_pss_rsae_test.c
Labels: type/bug

#2489 Update PQ fuzz tests to run when PQ is disabled
  tests/fuzz/runFuzzTest.sh
  tests/fuzz/s2n_bike_r1_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_bike_r2_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_kyber_r2_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_sike_r1_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_sike_r2_recv_ciphertext_fuzz_test.c
  tests/testlib/s2n_kem_fuzz_testlib.c
Labels: type/post-quantum

#2499 Added set psk api
  error/s2n_errno.c
  error/s2n_errno.h
  tests/unit/s2n_psk_test.c
  tls/s2n_psk.c
  tls/s2n_psk.h
Labels: psk

#2510 Complete the migration to s2n_pq_is_enabled()
  error/s2n_errno.c
  error/s2n_errno.h
  tests/integrationv2/common.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/utils.py
  tests/testlib/s2n_pq_hybrid_test_utils.c
  tests/testlib/s2n_pq_kat_test_utils.c
  tests/unit/s2n_choose_supported_group_test.c
  tests/unit/s2n_cipher_suite_match_test.c
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_client_key_share_extension_pq_test.c
  tests/unit/s2n_client_pq_kem_extension_test.c
  tests/unit/s2n_client_supported_groups_extension_test.c
  tests/unit/s2n_extensions_server_key_share_select_test.c
  tests/unit/s2n_kem_preferences_test.c
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_kex_with_kem_test.c
  tests/unit/s2n_pq_kem_hybrid_kat_test.c
  tests/unit/s2n_pq_kem_kat_test.c
  tests/unit/s2n_security_policies_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tests/unit/s2n_tls13_pq_handshake_test.c
  tests/unit/s2n_tls_hybrid_prf_test.c
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_client_pq_kem.c
  tls/extensions/s2n_client_supported_groups.c
  tls/extensions/s2n_server_key_share.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_cipher_suites.c
  tls/s2n_cipher_suites.h
  tls/s2n_kem.c
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
  tls/s2n_kex.c
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
  tls/s2n_server_hello_retry.c
Labels: type/post-quantum

#2530 Adds memory-safety proofs for s2n_hmac functions
  tests/cbmc/proofs/s2n_hmac_copy/Makefile
  tests/cbmc/proofs/s2n_hmac_copy/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hmac_copy/s2n_hmac_copy_harness.c
  tests/cbmc/proofs/s2n_hmac_reset/Makefile
  tests/cbmc/proofs/s2n_hmac_reset/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hmac_reset/s2n_hmac_reset_harness.c
Labels: CBMC

#2491 ci: Fix annoying NONE error
  s2n.mk
Labels: priority/low

#2543 Adds a proof harness for s2n_hmac_init
  crypto/s2n_hmac.c
  tests/cbmc/proofs/s2n_hash_init/Makefile
  tests/cbmc/proofs/s2n_hash_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hash_init/s2n_hash_init_harness.c
  tests/cbmc/proofs/s2n_hmac_init/Makefile
  tests/cbmc/proofs/s2n_hmac_init/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hmac_init/s2n_hmac_init_harness.c
Labels: CBMC

#2531 Adds a proof harness for s2n_hmac_update
  crypto/s2n_hmac.c
  tests/cbmc/proofs/s2n_hmac_update/Makefile
  tests/cbmc/proofs/s2n_hmac_update/cbmc-batch.yaml
  tests/cbmc/proofs/s2n_hmac_update/s2n_hmac_update_harness.c
  tests/saw/HMAC/spec/HMAC.saw
  tests/sidetrail/working/patches/hmac.patch
Labels: CBMC
