Repository aws/s2n-tls, pull requests merged in 2022-06, with the labels that each got.

#3338 ci:Add valgrind tests for awslc
  codebuild/spec/buildspec_omnibus.yml
Labels: type/codebuild, s2n-core

#3333 free EVP_PKEY_CTX before returning from s2n_evp_sign/verify
  crypto/s2n_evp_signing.c
Labels: s2n-core

#3346 Fix interning build for cmake version 3.15+
  CMakeLists.txt
Labels: type/cmake

#3345 fix: Add option to disable stacktrace feature
  CMakeLists.txt
  error/s2n_errno.c
  s2n.mk
  tests/unit/s2n_stacktrace_test.c
Labels: s2n-core

#3329 docs: Documentation clean up
  README.md
  api/s2n.h
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3336 [bindings] Add connection pooling support
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls-tokio/examples/server.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls/src/raw.rs
  bindings/rust/s2n-tls/src/raw/connection.rs
  bindings/rust/s2n-tls/src/raw/connection/builder.rs
  bindings/rust/s2n-tls/src/raw/pool.rs
Labels: s2n-core

#3356 [bindings] Apply async blinding
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/tests/common/mod.rs
  bindings/rust/s2n-tls-tokio/tests/common/stream.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls-tokio/tests/send_and_recv.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  bindings/rust/s2n-tls/src/raw/connection.rs
  bindings/rust/s2n-tls/src/raw/error.rs
  tls/s2n_handshake_io.c
Labels: s2n-core

#3337 Add compliance comments and tests for TLS RFC section 4.1.4
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_extension_type_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tls/extensions/s2n_extension_type.c
  tls/extensions/s2n_server_supported_versions.c
  tls/s2n_cipher_suites.c
  tls/s2n_client_hello.c
  tls/s2n_server_extensions.c
  tls/s2n_server_hello.c
Labels: s2n-core

#3361 [bindings] Fix clap dependency
  bindings/rust/s2n-tls-tokio/Cargo.toml
Labels: s2n-core

#3360 [bindings] Get rid of 'raw' module
  bindings/rust/integration/benches/handshake.rs
  bindings/rust/s2n-tls-tokio/examples/client.rs
  bindings/rust/s2n-tls-tokio/examples/server.rs
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/tests/common/mod.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls-tokio/tests/send_and_recv.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/connection/builder.rs
  bindings/rust/s2n-tls/src/enums.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/init.rs
  bindings/rust/s2n-tls/src/lib.rs
  bindings/rust/s2n-tls/src/pool.rs
  bindings/rust/s2n-tls/src/raw.rs
  bindings/rust/s2n-tls/src/security.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3366 Import Microsoft's recent PQCrypto-SIDH SIKE patches into s2n
  pq-crypto/sike_r1/ec_isogeny_r1.c
  pq-crypto/sike_r1/fpx_r1.c
  pq-crypto/sike_r1/sidh_r1.c
  pq-crypto/sike_r1/sike_r1_kem.c
  pq-crypto/sike_r1/sike_r1_namespace.h
  pq-crypto/sike_r3/sikep434r3_ec_isogeny.c
  pq-crypto/sike_r3/sikep434r3_ec_isogeny.h
  pq-crypto/sike_r3/sikep434r3_fpx.c
  pq-crypto/sike_r3/sikep434r3_fpx.h
  pq-crypto/sike_r3/sikep434r3_kem.c
  pq-crypto/sike_r3/sikep434r3_sidh.c
  tests/saw/sike_r1/proof/sidh.saw
  tests/saw/sike_r1/proof/sike_r1_defs.saw
Labels: type/post-quantum

#3269 Enable S2N_AES_SHA1/256_COMPOSITE when AWSLC_API_VERSION >= 18.
  crypto/s2n_composite_cipher_aes_sha.c
Labels: status/needs_team_discussion, do_not_merge

#3358 Set server key share extension as a response extension
  tests/testlib/s2n_extension_test_utils.c
  tests/testlib/s2n_testlib.h
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_extension_type_test.c
  tests/unit/s2n_server_extensions_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_server_psk_extension_test.c
  tls/extensions/s2n_extension_type.c
  tls/extensions/s2n_server_key_share.c
  tls/extensions/s2n_server_psk.c
  tls/s2n_connection.h
  tls/s2n_server_hello.c
Labels: s2n-core

#3375 [bindings] Export policy macro
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/security.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3374 [bindings] Parity with unofficial bindings
  bindings/rust/s2n-tls-tokio/tests/common/mod.rs
  bindings/rust/s2n-tls-tokio/tests/common/time.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3383 [bindings] Add 'poll_' to polling method names
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core
