Repository aws/s2n-tls, pull requests merged in 2022-09, with the labels that each got.

#3472 feat: add dynamic buffer capabilities
  api/s2n.h
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  tests/unit/s2n_self_talk_io_mem_test.c
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_handshake_io.c
  tls/s2n_recv.c
  tls/s2n_send.c
  utils/s2n_mem.c
  utils/s2n_mem.h
Labels: s2n-core

#3458 Add test certificate chains and CRLs for testing CRL validation
  tests/pems/crl/all_revoked_cert_chain.pem
  tests/pems/crl/all_revoked_key.pem
  tests/pems/crl/generate.sh
  tests/pems/crl/intermediate_crl.pem
  tests/pems/crl/intermediate_invalid_last_update_crl.pem
  tests/pems/crl/intermediate_invalid_next_update_crl.pem
  tests/pems/crl/intermediate_revoked_cert_chain.pem
  tests/pems/crl/intermediate_revoked_crl.pem
  tests/pems/crl/intermediate_revoked_key.pem
  tests/pems/crl/leaf_revoked_cert_chain.pem
  tests/pems/crl/leaf_revoked_key.pem
  tests/pems/crl/none_revoked_cert_chain.pem
  tests/pems/crl/none_revoked_key.pem
  tests/pems/crl/openssl.conf
  tests/pems/crl/root_cert.pem
  tests/pems/crl/root_crl.pem
  tests/pems/crl/test_s2nc.sh
Labels: s2n-core

#3464 ci: add openssl111 to LD_LIBRARY_PATH for integv2 testing
  tests/integrationv2/Makefile
Labels: type/integration_test, s2n-core

#3418 Fix documentation for record sizes
  api/s2n.h
  docs/USAGE-GUIDE.md
  tests/unit/s2n_send_test.c
Labels: s2n-core

#3479 ci: update freebsd image
  .github/workflows/ci_freebsd.yml
Labels: s2n-core

#3474 openssl3 integration: store const RSA and EC_KEY
  crypto/s2n_ecdsa.c
  crypto/s2n_ecdsa.h
  crypto/s2n_rsa.c
  crypto/s2n_rsa.h
  crypto/s2n_rsa_pss.c
  crypto/s2n_rsa_signing.c
  tests/unit/s2n_rsa_pss_rsae_test.c
Labels: s2n-core

#3481 openssl3 integration: cleanup providers
  crypto/s2n_libcrypto.c
  crypto/s2n_libcrypto.h
  error/s2n_errno.c
  error/s2n_errno.h
  utils/s2n_init.c
Labels: s2n-core

#3483 Revert "Allow static and shared libs to be mixed."
  cmake/s2n-config.cmake
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_setup_env.sh
  codebuild/bin/test_install_shared_and_static.sh
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core

#3480 Usage Guide Changes for Certificate Inspection Methods
  docs/USAGE-GUIDE.md
Labels: type/docs, s2n-core

#3482 Allow verification of signatures before sending
  api/s2n.h
  tests/unit/s2n_async_pkey_test.c
  tests/unit/s2n_config_test.c
  tests/unit/s2n_handshake_test.c
  tls/s2n_async_pkey.c
  tls/s2n_config.c
  tls/s2n_config.h
Labels: s2n-core

#3486 Add test for verify after sign with invalid signature
  tests/unit/s2n_async_pkey_test.c
Labels: s2n-core

#3487 release(rust-bindings): 0.0.13
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core, bindings/rust

#3485 Add compliance comments for secure renegotiation initial handshakes
  compliance/initialize_duvet.sh
  compliance/specs/exceptions/rfc5746/4.6.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746.txt
  compliance/specs/tools.ietf.org/rfc/rfc5746/3.4.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/3.5.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/3.6.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/3.7.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/4.1.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/4.2.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/4.3.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/4.4.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/4.5.toml
  compliance/specs/tools.ietf.org/rfc/rfc5746/5.toml
  tests/unit/s2n_cipher_suite_match_test.c
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_client_renegotiation_info_extension_test.c
  tests/unit/s2n_server_renegotiation_info_test.c
  tls/extensions/s2n_client_renegotiation_info.c
  tls/extensions/s2n_server_renegotiation_info.c
  tls/s2n_cipher_suites.c
  tls/s2n_client_hello.c
Labels: s2n-core

#3493 Removing Some LGTM Warnings
  utils/s2n_array.c
Labels: type/cleanup, s2n-core

#3490 Send no_renegotiation alert
  tests/unit/s2n_client_hello_request_test.c
  tls/s2n_alerts.c
  tls/s2n_alerts.h
  tls/s2n_client_hello_request.c
  tls/s2n_handshake_io.c
  tls/s2n_post_handshake.c
  tls/s2n_tls.h
Labels: s2n-core

#3494 Store explicit length of verify_data
  tests/unit/s2n_change_cipher_spec_test.c
  tests/unit/s2n_client_finished_test.c
  tests/unit/s2n_handshake_misc_test.c
  tests/unit/s2n_server_finished_test.c
  tests/unit/s2n_tls13_secrets_test.c
  tls/s2n_client_finished.c
  tls/s2n_handshake.c
  tls/s2n_handshake.h
  tls/s2n_prf.c
  tls/s2n_server_finished.c
  tls/s2n_tls13_secrets.c
Labels: s2n-core

#3498 Add compliance exceptions for server renegotiation
  compliance/specs/exceptions/rfc5746/3.6.toml
  compliance/specs/exceptions/rfc5746/3.7.toml
Labels: s2n-core

#3223 ci: Criterion benchmark handlers
  bindings/rust/integration/Cargo.toml
  bindings/rust/integration/benches/s2nc.rs
  bindings/rust/integration/benches/s2nd.rs
  bindings/rust/integration/benches/utils.rs
Labels: s2n-core

#3497 Implement client-side safety features for secure renegotiation
  error/s2n_errno.c
  error/s2n_errno.h
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_client_renegotiation_info_extension_test.c
  tests/unit/s2n_server_renegotiation_info_test.c
  tls/extensions/s2n_client_renegotiation_info.c
  tls/extensions/s2n_server_renegotiation_info.c
  tls/s2n_alerts.c
  tls/s2n_client_hello.c
  tls/s2n_handshake.c
  tls/s2n_handshake.h
Labels: s2n-core

#3507 release: bump rust bindings
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3513 Custom ubuntu18 image
  codebuild/bin/install_openssl_3_0.sh
  codebuild/spec/buildspec_omnibus.yml
  codebuild/spec/buildspec_ubuntu.yml
  codebuild/spec/buildspec_ubuntu_integrationv2.yml
Labels: type/codebuild, s2n-core

#3500 Refactor s2n_x509_validator_validate_cert_chain to support an async callback
  tests/unit/s2n_x509_validator_test.c
  tls/s2n_x509_validator.c
  tls/s2n_x509_validator.h
Labels: s2n-core

#3517 Add additional CBMC dependencies to README
  tests/cbmc/README.md
Labels: CBMC, s2n-core

#3503 docs: update openssl docs
  README.md
  codebuild/README.md
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3518 ci: Move sidetrail docker container to other repo
  codebuild/spec/buildspec_omnibus.yml
  codebuild/spec/buildspec_sidetrail.yml
  codebuild/spec/sidetrail/Dockerfile
Labels: s2n-core
