Repository aws/s2n-tls, pull requests merged in 2022-03, with the labels that each got.

#3231 Remove PQ tests that break on Openssl DRBG calling pattern updates
  tests/testlib/s2n_pq_hybrid_test_utils.c
  tests/unit/kats/hybrid_ecdhe_bike_r1.kat
  tests/unit/kats/hybrid_ecdhe_bike_r2.kat
  tests/unit/kats/hybrid_ecdhe_kyber_r2.kat
  tests/unit/kats/hybrid_ecdhe_sike_r1.kat
  tests/unit/kats/hybrid_ecdhe_sike_r2.kat
  tests/unit/s2n_pq_kem_hybrid_kat_test.c
Labels: type/post-quantum

#3194 sike_r3: add missing GNU note for executable stack on ELF
  pq-crypto/sike_r3/sikep434r3_fp_x64_asm.S
Labels: type/post-quantum

#3239 Fix auto-generated RESULT_GUARD_RESULT macros
  docs/SAFETY-MACROS.md
  scripts/s2n_safety_macros.py
  utils/s2n_safety_macros.h
Labels: s2n-core

#3243 Changed function declarations to match their definitions
  pq-crypto/kyber_90s_r2/ntt.h
  pq-crypto/kyber_r2/ntt.h
  pq-crypto/kyber_r3/kyber512r3_poly_avx2.h
  pq-crypto/kyber_r3/kyber512r3_polyvec_avx2.h
  pq-crypto/sike_r1/P503_internal_r1.h
  pq-crypto/sike_r1/fips202_r1.h
  tls/s2n_cipher_suites.c
Labels: type/build

#3176 In source test for aws-crt-cpp
  codebuild/bin/build_aws_crt_cpp.sh
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_setup_env.sh
Labels: type/codebuild, s2n-core

#3245 ci: Add a CRT codebuild job
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core

#3224 ci: Makefile updates to support criterion integv2
  Makefile
  bin/Makefile
  bindings/rust/Makefile
  lib/Makefile
  s2n.mk
Labels: s2n-core

#3204 build: fix libcrypto interning
  CMakeLists.txt
  codebuild/bin/test_libcrypto_interning.sh
Labels: s2n-core

#3207 OCSP integrationv2 test with GnuTLS
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/install_gnutls37.sh
  codebuild/bin/s2n_setup_env.sh
  tests/integrationv2/Makefile
  tests/integrationv2/common.py
  tests/integrationv2/configuration.py
  tests/integrationv2/constants.py
  tests/integrationv2/fixtures.py
  tests/integrationv2/processes.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_ocsp.py
  tests/integrationv2/test_signature_algorithms.py
  tests/integrationv2/test_version_negotiation.py
  tests/integrationv2/utils.py
Labels: s2n-core

#3260 fix: correctly export internal APIs
  bindings/rust/generate.sh
  bindings/rust/generate/src/main.rs
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_internal.h
  tls/s2n_quic_support.h
Labels: s2n-core
