Repository aws/s2n-tls, pull requests merged in 2022-08, with the labels that each got.

#3415 Set Openssl-1.0.2 locking callback
  crypto/s2n_locking.c
  crypto/s2n_locking.h
  tests/unit/s2n_locking_test.c
  utils/s2n_init.c
Labels: s2n-core

#3407 Shared library .so version
  CMakeLists.txt
Labels: s2n-core

#3425 cleanup codecov artifacts
  Makefile
  codebuild/README.md
  codebuild/bin/s2n_after_codebuild.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/codebuild.config
  codebuild/spec/buildspec_omnibus.yml
  codebuild/spec/buildspec_sidetrail.yml
  codebuild/spec/buildspec_ubuntu.yml
  codebuild/spec/buildspec_ubuntu_fuzz_artifacts.yml
  codebuild/spec/buildspec_ubuntu_integ_awslc.yml
  codebuild/spec/buildspec_ubuntu_integ_boringlibre.yml
  codebuild/spec/buildspec_ubuntu_integ_openssl102.yml
  codebuild/spec/buildspec_ubuntu_integ_openssl102_asanvalgrind.yml
  codebuild/spec/buildspec_ubuntu_integ_openssl111.yml
  codecov.yml
  pq-crypto/Makefile
  s2n.mk
  tls/Makefile
Labels: type/code_coverage, s2n-core

#3426 Remove patch version from .so
  CMakeLists.txt
Labels: s2n-core

#3422 S2N client negotation of un-offered group fix
  crypto/s2n_ecc_evp.c
  crypto/s2n_ecc_evp.h
  tests/unit/s2n_ecc_evp_test.c
  tls/s2n_server_key_exchange.c
Labels: s2n-core

#3437 release(rust-bindings): 0.0.11
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core, bindings/rust

#3439 Fix early data reporting on partial send
  tests/unit/s2n_early_data_io_api_test.c
  tests/unit/s2n_early_data_io_test.c
  tests/unit/s2n_early_data_test.c
  tls/s2n_early_data_io.c
  tls/s2n_recv.c
  tls/s2n_send.c
Labels: s2n-core

#3443 s2n_peek should not report partial, encrypted data
  tests/unit/s2n_recv_test.c
  tls/s2n_recv.c
Labels: s2n-core

#3421 Fuzz s2n_deserialize_resumption_state
  codebuild/fuzz_codebuild.config
  tests/fuzz/s2n_deserialize_resumption_state_test.c
  tls/s2n_resume.c
  tls/s2n_resume.h
Labels: s2n-core

#3449 Correct CODEOWNERS team name
  .github/CODEOWNERS
Labels: s2n-core

#3444 Return s2n_result from x509 validator functions
  error/s2n_errno.c
  error/s2n_errno.h
  tests/fuzz/s2n_certificate_extensions_parse_test.c
  tests/unit/s2n_certificate_extensions_test.c
  tests/unit/s2n_server_certificate_status_test.c
  tests/unit/s2n_x509_validator_test.c
  tls/extensions/s2n_server_certificate_status.c
  tls/s2n_alerts.c
  tls/s2n_client_cert.c
  tls/s2n_server_cert.c
  tls/s2n_x509_validator.c
  tls/s2n_x509_validator.h
Labels: s2n-core

#3448 Fixing cargo clippy complaints
  bindings/rust/generate/src/main.rs
  bindings/rust/s2n-tls/src/lib.rs
Labels: s2n-core, bindings/rust

#3434 Add basic buffered send behavior
  api/s2n.h
  tests/unit/s2n_config_test.c
  tests/unit/s2n_record_size_test.c
  tests/unit/s2n_send_multirecord_test.c
  tests/unit/s2n_send_test.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_key_update.c
  tls/s2n_record_write.c
  tls/s2n_send.c
  tls/s2n_server_new_session_ticket.c
Labels: s2n-core

#3454 tests: add global retries and fail fast
  tests/integrationv2/tox.ini
Labels: s2n-core

#3452 build: fix Ubuntu quickstart instructions
  README.md
  codebuild/bin/install_ubuntu_dependencies.sh
  codebuild/bin/s2n_install_test_dependencies.sh
Labels: s2n-core

#3441 build and link s2n-tls with openssl3
  README.md
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/install_openssl_3_0.sh
  codebuild/bin/s2n_set_build_preset.sh
  codebuild/bin/s2n_setup_env.sh
Labels: s2n-core

#3456 Initialize locking sooner
  utils/s2n_init.c
Labels: s2n-core

#3462 release(rust-bindings): 0.0.12
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3423 Re-worked Session Resumption Usage Guide Sections
  api/s2n.h
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3457 openssl3 integration: load legacy provider for rc4 cipher
  crypto/s2n_libcrypto.c
  crypto/s2n_libcrypto.h
  error/s2n_errno.c
  error/s2n_errno.h
  utils/s2n_init.c
Labels: s2n-core

#3450 pass padding of 0 to EVP_CIPHER_CTX_set_padding
  crypto/s2n_cbc_cipher_3des.c
  crypto/s2n_cbc_cipher_aes.c
  crypto/s2n_composite_cipher_aes_sha.c
Labels: s2n-core

#3431 create rfc9151 security policy
  docs/USAGE-GUIDE.md
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_signature_scheme.c
  tls/s2n_signature_scheme.h
Labels: s2n-core

#3468 openssl3 integration: work around for broken make build
  codebuild/bin/install_openssl_3_0.sh
Labels: s2n-core

#3470 Allocate s2n_crypto_parameters separately
  tests/unit/s2n_connection_test.c
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_connection_evp_digests.c
  tls/s2n_connection_evp_digests.h
  tls/s2n_crypto.c
  tls/s2n_crypto.h
  tls/s2n_signature_algorithms.c
Labels: s2n-core

#3466 openssl3 integration: workaround for new EVP_Cipher return code
  crypto/s2n_aead_cipher_aes_gcm.c
  crypto/s2n_aead_cipher_chacha20_poly1305.c
  crypto/s2n_cbc_cipher_3des.c
  crypto/s2n_cbc_cipher_aes.c
  crypto/s2n_composite_cipher_aes_sha.c
  crypto/s2n_drbg.c
  crypto/s2n_stream_cipher_rc4.c
Labels: s2n-core
