Repository aws/s2n-tls, pull requests merged in 2022-12, with the labels that each got.

#3631 fix(rust-bindings): store client_hello_callback state on connection
  bindings/rust/s2n-tls/Cargo.toml
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3672 Regenerate CRL test PEMs
  tests/pems/crl/all_revoked_cert_chain.pem
  tests/pems/crl/all_revoked_key.pem
  tests/pems/crl/intermediate_crl.pem
  tests/pems/crl/intermediate_invalid_next_update_crl.pem
  tests/pems/crl/intermediate_invalid_this_update_crl.pem
  tests/pems/crl/intermediate_revoked_cert_chain.pem
  tests/pems/crl/intermediate_revoked_crl.pem
  tests/pems/crl/intermediate_revoked_key.pem
  tests/pems/crl/leaf_revoked_cert_chain.pem
  tests/pems/crl/leaf_revoked_key.pem
  tests/pems/crl/none_revoked_cert_chain.pem
  tests/pems/crl/none_revoked_key.pem
  tests/pems/crl/root_cert.pem
  tests/pems/crl/root_crl.pem
Labels: s2n-core

#3543 Add prioritize_chacha20 flag to cipher preferences
  tests/unit/s2n_cipher_suite_match_test.c
  tests/unit/s2n_security_policies_test.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_cipher_suites.c
  tls/s2n_cipher_suites.h
  tls/s2n_security_policies.c
Labels: s2n-core

#3664 Clang-format of `tests/unit/s2n_[3a].*\.c` + transision to exclude regex
  .clang-format
  .github/workflows/ci_clang_format_check.yml
  tests/unit/s2n_3des_test.c
  tests/unit/s2n_aead_aes_test.c
  tests/unit/s2n_aead_chacha20_poly1305_test.c
  tests/unit/s2n_aes_sha_composite_test.c
  tests/unit/s2n_aes_test.c
  tests/unit/s2n_alerts_test.c
  tests/unit/s2n_array_test.c
  tests/unit/s2n_asn1_time_test.c
  tests/unit/s2n_async_pkey_test.c
  tests/unit/s2n_auth_selection_test.c
Labels: s2n-core

#3684 Make header deps explicit in preperation for clang-format
  tls/s2n_protocol_preferences.h
  tls/s2n_signature_algorithms.h
Labels: s2n-core

#3628 ci: Cleanup integration codebuild scripts
  codebuild/README.md
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_setup_env.sh
  codebuild/codebuild.config
  codebuild/common.config
  codebuild/create_batch.sh
  codebuild/create_project.py
  codebuild/fuzz_afl_codebuild.config
  codebuild/fuzz_codebuild.config
  codebuild/integ_codebuild.config
  codebuild/requirements.txt
Labels: s2n-core

#3673 ci: pin ubuntu version to 20.04 for cppcheck
  .github/workflows/ci_linting.yml
Labels: s2n-core

#3641 Handle fragmented post-handshake messages
  tests/unit/s2n_connection_test.c
  tests/unit/s2n_post_handshake_recv_test.c
  tests/unit/s2n_post_handshake_test.c
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_handshake.c
  tls/s2n_handshake_io.c
  tls/s2n_post_handshake.c
  tls/s2n_post_handshake.h
  tls/s2n_quic_support.c
  tls/s2n_recv.c
  tls/s2n_tls.h
Labels: s2n-core

#3685 tests: delete integv1 code
  .gitignore
  Makefile
  README.md
  codebuild/spec/buildspec_ubuntu_integ_awslc.yml
  codebuild/spec/buildspec_ubuntu_integ_boringlibre.yml
  codebuild/spec/buildspec_ubuntu_integ_openssl102.yml
  codebuild/spec/buildspec_ubuntu_integ_openssl111.yml
  docker-images/ubuntu/Dockerfile
  tests/Makefile
  tests/integration/Makefile
  tests/integration/common/__init__.py
  tests/integration/common/s2n_test_common.py
  tests/integration/common/s2n_test_openssl.py
  tests/integration/common/s2n_test_reporting.py
  tests/integration/common/s2n_test_scenario.py
  tests/integration/data/test_buf
  tests/integration/s2n_client_endpoint_handshake_test.py
  tests/integration/s2n_dynamic_record_size_test.py
  tests/integration/s2n_handshake_test_gnutls-cli.py
  tests/integration/s2n_handshake_test_gnutls-serv.py
  tests/integration/s2n_handshake_test_old_s_client.py
  tests/integration/s2n_handshake_test_s_client.py
  tests/integration/s2n_handshake_test_s_server.py
  tests/integration/s2n_pq_handshake_test.py
  tests/integration/s2n_sslyze_test.py
  tests/integration/s2n_test_constants.py
  tests/integration/s2n_tls13_handshake_tests.py
  tests/integration/trust-store/README.md
  tests/integrationv2/test_well_known_endpoints.py
  tests/pems/trust-store/ca-bundle-integration.crt
  tests/pems/trust-store/ca-bundle-integration.trust.crt
Labels: s2n-core

#3688 ci: Fix LibreSSL paths in CI
  codebuild/bin/install_libressl.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_setup_env.sh
Labels: s2n-core

#3687 bindings (rust): handle propagating the async client_hello callback error
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/client_hello.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3691 chore: introduce rust-toolchain and pin to enforce MSRV
  bindings/rust/README.md
  bindings/rust/rust-toolchain
  bindings/rust/s2n-tls/src/connection.rs
Labels: s2n-core

#3692 Clean up test trust store
  tests/integrationv2/test_well_known_endpoints.py
  tests/pems/trust-store/ca-bundle-integration.crt
  tests/pems/trust-store/ca-bundle-integration.trust.crt
  tests/pems/trust-store/ca-bundle.crt
  tests/pems/trust-store/ca-bundle.trust.crt
Labels: s2n-core

#3693 chore: bump rust bindings version
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3682 Clang-format `tls/s2n_[i-r].*\.[ch]` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  tls/s2n_internal.h
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
  tls/s2n_kex.c
  tls/s2n_kex.h
  tls/s2n_key_log.c
  tls/s2n_key_log.h
  tls/s2n_key_update.c
  tls/s2n_key_update.h
  tls/s2n_next_protocol.c
  tls/s2n_ocsp_stapling.c
  tls/s2n_post_handshake.c
  tls/s2n_prf.c
  tls/s2n_prf.h
  tls/s2n_protocol_preferences.c
  tls/s2n_protocol_preferences.h
  tls/s2n_psk.c
  tls/s2n_psk.h
  tls/s2n_quic_support.c
  tls/s2n_quic_support.h
  tls/s2n_record.h
  tls/s2n_record_read.c
  tls/s2n_record_read.h
  tls/s2n_record_read_aead.c
  tls/s2n_record_read_cbc.c
  tls/s2n_record_read_composite.c
  tls/s2n_record_read_stream.c
  tls/s2n_record_write.c
  tls/s2n_recv.c
  tls/s2n_resume.c
  tls/s2n_resume.h
Labels: s2n-core

#3694 Fix FreeBSD minherit arg naming
  tests/unit/s2n_fork_generation_number_test.c
  utils/s2n_fork_detection.c
Labels: s2n-core

#3686 Add `CloudFront-TLS-1-2-2021-ChaCha20-Boosted` Security Policy w/ Docs Update
  docs/USAGE-GUIDE.md
  tests/unit/s2n_security_policies_test.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
Labels: type/docs, type/ciphers, s2n-core

#3676 Clang-format `tests/unit/s2n_[d-k].*\.c` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  tests/unit/s2n_drain_alert_test.c
  tests/unit/s2n_drbg_test.c
  tests/unit/s2n_early_data_io_api_test.c
  tests/unit/s2n_early_data_io_test.c
  tests/unit/s2n_early_data_test.c
  tests/unit/s2n_ecc_evp_test.c
  tests/unit/s2n_ecc_point_format_extension_test.c
  tests/unit/s2n_ecc_preferences_test.c
  tests/unit/s2n_ecdsa_test.c
  tests/unit/s2n_ems_extension_test.c
  tests/unit/s2n_encrypted_extensions_test.c
  tests/unit/s2n_error_lookup_test.c
  tests/unit/s2n_error_type_test.c
  tests/unit/s2n_evp_signing_test.c
  tests/unit/s2n_extended_master_secret_test.c
  tests/unit/s2n_extension_list_parse_test.c
  tests/unit/s2n_extension_list_process_test.c
  tests/unit/s2n_extension_list_send_test.c
  tests/unit/s2n_extension_type_lists_test.c
  tests/unit/s2n_extension_type_test.c
  tests/unit/s2n_extensions_server_key_share_select_test.c
  tests/unit/s2n_fork_generation_number_test.c
  tests/unit/s2n_fragmentation_coalescing_test.c
  tests/unit/s2n_handshake_errno_test.c
  tests/unit/s2n_handshake_hashes_test.c
  tests/unit/s2n_handshake_invariant_test.c
  tests/unit/s2n_handshake_io_async_test.c
  tests/unit/s2n_handshake_io_early_data_test.c
  tests/unit/s2n_handshake_io_errors_test.c
  tests/unit/s2n_handshake_io_test.c
  tests/unit/s2n_handshake_misc_test.c
  tests/unit/s2n_handshake_partial_test.c
  tests/unit/s2n_handshake_test.c
  tests/unit/s2n_handshake_type_test.c
  tests/unit/s2n_hash_all_algs_test.c
  tests/unit/s2n_hash_test.c
  tests/unit/s2n_hkdf_test.c
  tests/unit/s2n_hmac_test.c
  tests/unit/s2n_kem_preferences_test.c
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_kex_test.c
  tests/unit/s2n_kex_with_kem_test.c
  tests/unit/s2n_key_share_extension_test.c
  tests/unit/s2n_key_update_test.c
Labels: s2n-core

#3679 Clang-format `tests/unit/s2n_[t-z].*\.c` and enforce in CI
  .clang-format
  .github/workflows/ci_clang_format_check.yml
  tests/unit/s2n_testlib_test.c
  tests/unit/s2n_timer_test.c
  tests/unit/s2n_tls12_handshake_test.c
  tests/unit/s2n_tls13_cert_request_extensions_test.c
  tests/unit/s2n_tls13_cert_request_test.c
  tests/unit/s2n_tls13_cert_verify_test.c
  tests/unit/s2n_tls13_client_finished_test.c
  tests/unit/s2n_tls13_compute_shared_secret_test.c
  tests/unit/s2n_tls13_handshake_early_data_test.c
  tests/unit/s2n_tls13_handshake_state_machine_test.c
  tests/unit/s2n_tls13_handshake_test.c
  tests/unit/s2n_tls13_hybrid_shared_secret_test.c
  tests/unit/s2n_tls13_key_schedule_rfc8448_test.c
  tests/unit/s2n_tls13_key_schedule_test.c
  tests/unit/s2n_tls13_keys_test.c
  tests/unit/s2n_tls13_new_session_ticket_test.c
  tests/unit/s2n_tls13_parse_record_type_test.c
  tests/unit/s2n_tls13_pq_handshake_test.c
  tests/unit/s2n_tls13_prf_test.c
  tests/unit/s2n_tls13_record_aead_test.c
  tests/unit/s2n_tls13_secrets_rfc8448_test.c
  tests/unit/s2n_tls13_secrets_test.c
  tests/unit/s2n_tls13_server_cert_test.c
  tests/unit/s2n_tls13_server_finished_test.c
  tests/unit/s2n_tls13_support_test.c
  tests/unit/s2n_tls13_zero_length_payload_test.c
  tests/unit/s2n_tls_hybrid_prf_test.c
  tests/unit/s2n_tls_prf_test.c
  tests/unit/s2n_tls_record_stuffer_test.c
  tests/unit/s2n_utils_test.c
  tests/unit/s2n_wildcard_hostname_test.c
  tests/unit/s2n_x509_validator_certificate_signatures_test.c
  tests/unit/s2n_x509_validator_test.c
Labels: s2n-core

#3683 Clang-format `tls/s2n_[s-z].*\.[ch]` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
  tls/s2n_send.c
  tls/s2n_server_cert.c
  tls/s2n_server_cert_request.c
  tls/s2n_server_done.c
  tls/s2n_server_extensions.c
  tls/s2n_server_extensions.h
  tls/s2n_server_finished.c
  tls/s2n_server_hello.c
  tls/s2n_server_hello_retry.c
  tls/s2n_server_key_exchange.c
  tls/s2n_server_key_exchange.h
  tls/s2n_server_new_session_ticket.c
  tls/s2n_shutdown.c
  tls/s2n_signature_algorithms.c
  tls/s2n_signature_algorithms.h
  tls/s2n_signature_scheme.c
  tls/s2n_signature_scheme.h
  tls/s2n_tls.c
  tls/s2n_tls.h
  tls/s2n_tls13.c
  tls/s2n_tls13.h
  tls/s2n_tls13_certificate_verify.c
  tls/s2n_tls13_handshake.c
  tls/s2n_tls13_handshake.h
  tls/s2n_tls13_key_schedule.c
  tls/s2n_tls13_key_schedule.h
  tls/s2n_tls13_secrets.c
  tls/s2n_tls13_secrets.h
  tls/s2n_tls_parameters.h
  tls/s2n_x509_validator.c
  tls/s2n_x509_validator.h
Labels: s2n-core

#3680 Clang-format `crypto/` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  crypto/s2n_aead_cipher_aes_gcm.c
  crypto/s2n_aead_cipher_chacha20_poly1305.c
  crypto/s2n_cbc_cipher_3des.c
  crypto/s2n_cbc_cipher_aes.c
  crypto/s2n_certificate.c
  crypto/s2n_certificate.h
  crypto/s2n_cipher.c
  crypto/s2n_cipher.h
  crypto/s2n_composite_cipher_aes_sha.c
  crypto/s2n_crypto.c
  crypto/s2n_crypto.h
  crypto/s2n_dhe.c
  crypto/s2n_dhe.h
  crypto/s2n_drbg.c
  crypto/s2n_drbg.h
  crypto/s2n_ecc_evp.c
  crypto/s2n_ecc_evp.h
  crypto/s2n_ecdsa.c
  crypto/s2n_ecdsa.h
  crypto/s2n_evp.c
  crypto/s2n_evp.h
  crypto/s2n_evp_signing.c
  crypto/s2n_evp_signing.h
  crypto/s2n_fips.c
  crypto/s2n_hash.c
  crypto/s2n_hash.h
  crypto/s2n_hkdf.c
  crypto/s2n_hkdf.h
  crypto/s2n_hmac.c
  crypto/s2n_hmac.h
  crypto/s2n_libcrypto.c
  crypto/s2n_locking.c
  crypto/s2n_openssl.h
  crypto/s2n_openssl_x509.c
  crypto/s2n_openssl_x509.h
  crypto/s2n_pkey.c
  crypto/s2n_pkey.h
  crypto/s2n_rsa.c
  crypto/s2n_rsa.h
  crypto/s2n_rsa_pss.c
  crypto/s2n_rsa_pss.h
  crypto/s2n_rsa_signing.c
  crypto/s2n_rsa_signing.h
  crypto/s2n_sequence.c
  crypto/s2n_sequence.h
  crypto/s2n_signature.h
  crypto/s2n_stream_cipher_null.c
  crypto/s2n_stream_cipher_rc4.c
  crypto/s2n_tls13_keys.c
  crypto/s2n_tls13_keys.h
Labels: s2n-core

#3681 Clang format `tls/s2n_[a-h].*\.[ch]` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  tls/s2n_aead.c
  tls/s2n_alerts.c
  tls/s2n_async_pkey.c
  tls/s2n_async_pkey.h
  tls/s2n_auth_selection.c
  tls/s2n_auth_selection.h
  tls/s2n_cbc.c
  tls/s2n_change_cipher_spec.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_cipher_suites.c
  tls/s2n_cipher_suites.h
  tls/s2n_client_cert.c
  tls/s2n_client_cert_verify.c
  tls/s2n_client_finished.c
  tls/s2n_client_hello.c
  tls/s2n_client_hello.h
  tls/s2n_client_hello_request.c
  tls/s2n_client_key_exchange.c
  tls/s2n_client_key_exchange.h
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_crl.c
  tls/s2n_crl.h
  tls/s2n_crypto.c
  tls/s2n_crypto.h
  tls/s2n_crypto_constants.h
  tls/s2n_early_data.c
  tls/s2n_early_data.h
  tls/s2n_early_data_io.c
  tls/s2n_ecc_preferences.c
  tls/s2n_ecc_preferences.h
  tls/s2n_encrypted_extensions.c
  tls/s2n_establish_session.c
  tls/s2n_handshake.c
  tls/s2n_handshake.h
  tls/s2n_handshake_hashes.c
  tls/s2n_handshake_hashes.h
  tls/s2n_handshake_io.c
  tls/s2n_handshake_transcript.c
  tls/s2n_handshake_type.c
  tls/s2n_handshake_type.h
Labels: s2n-core

#3709 Chore: Bump rust bindings version
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3678 Clang-format `tests/unit/s2n_s.*\.c` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  scripts/s2n_safety_macros.py
  tests/unit/s2n_safety_blinding_test.c
  tests/unit/s2n_safety_macros_test.c
  tests/unit/s2n_safety_test.c
  tests/unit/s2n_security_policies_test.c
  tests/unit/s2n_self_talk_alerts_test.c
  tests/unit/s2n_self_talk_alpn_test.c
  tests/unit/s2n_self_talk_broken_pipe_test.c
  tests/unit/s2n_self_talk_client_hello_cb_test.c
  tests/unit/s2n_self_talk_custom_io_test.c
  tests/unit/s2n_self_talk_io_mem_test.c
  tests/unit/s2n_self_talk_key_log_test.c
  tests/unit/s2n_self_talk_min_protocol_version_test.c
  tests/unit/s2n_self_talk_nonblocking_test.c
  tests/unit/s2n_self_talk_npn_test.c
  tests/unit/s2n_self_talk_offload_signing_test.c
  tests/unit/s2n_self_talk_psk_test.c
  tests/unit/s2n_self_talk_quic_support_test.c
  tests/unit/s2n_self_talk_session_id_test.c
  tests/unit/s2n_self_talk_session_resumption_test.c
  tests/unit/s2n_self_talk_shutdown_test.c
  tests/unit/s2n_self_talk_tls12_test.c
  tests/unit/s2n_self_talk_tls13_test.c
  tests/unit/s2n_send_key_update_test.c
  tests/unit/s2n_send_multirecord_test.c
  tests/unit/s2n_send_test.c
  tests/unit/s2n_sequence_number_test.c
  tests/unit/s2n_server_alpn_extension_test.c
  tests/unit/s2n_server_cert_request_test.c
  tests/unit/s2n_server_certificate_status_test.c
  tests/unit/s2n_server_early_data_indication_test.c
  tests/unit/s2n_server_extensions_test.c
  tests/unit/s2n_server_finished_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tests/unit/s2n_server_hello_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_server_max_frag_len_extension_test.c
  tests/unit/s2n_server_new_session_ticket_test.c
  tests/unit/s2n_server_psk_extension_test.c
  tests/unit/s2n_server_renegotiation_info_test.c
  tests/unit/s2n_server_sct_list_extension_test.c
  tests/unit/s2n_server_server_name_extension_test.c
  tests/unit/s2n_server_session_ticket_extension_test.c
  tests/unit/s2n_server_signature_algorithms_extension_test.c
  tests/unit/s2n_server_status_request_extension_test.c
  tests/unit/s2n_server_supported_versions_extension_test.c
  tests/unit/s2n_session_ticket_test.c
  tests/unit/s2n_set_test.c
  tests/unit/s2n_shutdown_test.c
  tests/unit/s2n_signature_algorithms_test.c
  tests/unit/s2n_ssl_prf_test.c
  tests/unit/s2n_stacktrace_test.c
  tests/unit/s2n_stream_cipher_null_test.c
  tests/unit/s2n_stuffer_base64_test.c
  tests/unit/s2n_stuffer_hex_test.c
  tests/unit/s2n_stuffer_network_order_test.c
  tests/unit/s2n_stuffer_test.c
  tests/unit/s2n_stuffer_text_test.c
Labels: s2n-core

#3714 CBMC proofs: remove type-conflicting definition of s2n_calculate_stacktrace
  tests/cbmc/proofs/s2n_stuffer_erase_and_read/Makefile
  tests/cbmc/proofs/s2n_stuffer_erase_and_read/s2n_stuffer_erase_and_read_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_bytes/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_bytes/s2n_stuffer_read_bytes_harness.c
Labels: CBMC

#3703 ci: codebuid scripts for criterion
  codebuild/bin/criterion_baseline.sh
  codebuild/bin/criterion_delta.sh
  codebuild/bin/s2n_setup_env.sh
  codebuild/bin/utils.sh
Labels: s2n-core

#3677 Clang-format `tests/unit/s2n_[l-r].*\.c` and enforce in CI
  .github/workflows/ci_clang_format_check.yml
  tests/unit/s2n_locking_test.c
  tests/unit/s2n_malformed_handshake_test.c
  tests/unit/s2n_map_test.c
  tests/unit/s2n_mem_allocator_test.c
  tests/unit/s2n_mem_test.c
  tests/unit/s2n_mem_usage_test.c
  tests/unit/s2n_mutual_auth_test.c
  tests/unit/s2n_next_protocol_test.c
  tests/unit/s2n_npn_extension_test.c
  tests/unit/s2n_nst_early_data_indication_test.c
  tests/unit/s2n_openssl_test.c
  tests/unit/s2n_optional_client_auth_test.c
  tests/unit/s2n_override_openssl_random_test.c
  tests/unit/s2n_pem_rsa_dhe_test.c
  tests/unit/s2n_pem_test.c
  tests/unit/s2n_pkey_test.c
  tests/unit/s2n_post_handshake_recv_test.c
  tests/unit/s2n_post_handshake_test.c
  tests/unit/s2n_pq_kem_kat_kyber_r3_test.c
  tests/unit/s2n_pq_kem_test.c
  tests/unit/s2n_protocol_preferences_test.c
  tests/unit/s2n_psk_key_exchange_modes_extension_test.c
  tests/unit/s2n_psk_offered_test.c
  tests/unit/s2n_psk_test.c
  tests/unit/s2n_quic_support_io_test.c
  tests/unit/s2n_quic_support_test.c
  tests/unit/s2n_quic_transport_params_extension_test.c
  tests/unit/s2n_random_test.c
  tests/unit/s2n_rc4_test.c
  tests/unit/s2n_record_size_test.c
  tests/unit/s2n_record_test.c
  tests/unit/s2n_recv_test.c
  tests/unit/s2n_release_non_empty_buffers_test.c
  tests/unit/s2n_renegotiate_io_test.c
  tests/unit/s2n_renegotiate_test.c
  tests/unit/s2n_resume_test.c
  tests/unit/s2n_rfc5952_test.c
  tests/unit/s2n_rsa_pss_rsae_test.c
  tests/unit/s2n_rsa_pss_test.c
  tls/s2n_post_handshake.h
Labels: s2n-core

#3721 Adds Wno-strict-prototypes flag to CMakeLists
  CMakeLists.txt
Labels: s2n-core

#3726 Remove unnecessary "extern" from function declarations
  codebuild/bin/grep_simple_mistakes.sh
  crypto/s2n_cipher.h
  crypto/s2n_dhe.h
  crypto/s2n_ecdsa.h
  crypto/s2n_evp.h
  crypto/s2n_fips.h
  crypto/s2n_hash.h
  crypto/s2n_hkdf.h
  crypto/s2n_hmac.h
  crypto/s2n_rsa.h
  crypto/s2n_sequence.h
  docs/DEVELOPMENT-GUIDE.md
  error/s2n_errno.h
  stuffer/s2n_stuffer.h
  tests/sidetrail/working/patches/hmac.patch
  tests/sidetrail/working/s2n-cbc/stubs/s2n_hash.h
  tests/sidetrail/working/stubs/s2n_hash.h
  tests/testlib/s2n_testlib.h
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_fragmentation_coalescing_test.c
  tests/unit/s2n_malformed_handshake_test.c
  tls/extensions/s2n_client_alpn.h
  tls/extensions/s2n_client_key_share.h
  tls/extensions/s2n_client_max_frag_len.h
  tls/extensions/s2n_client_pq_kem.h
  tls/extensions/s2n_client_sct_list.h
  tls/extensions/s2n_client_server_name.h
  tls/extensions/s2n_client_session_ticket.h
  tls/extensions/s2n_client_status_request.h
  tls/extensions/s2n_client_supported_versions.h
  tls/extensions/s2n_server_key_share.h
  tls/s2n_alerts.h
  tls/s2n_cipher_suites.h
  tls/s2n_client_hello.h
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_internal.h
  tls/s2n_kem.h
  tls/s2n_kex.h
  tls/s2n_prf.h
  tls/s2n_record.h
  tls/s2n_resume.h
  tls/s2n_tls.h
  tls/s2n_tls13.h
  utils/s2n_array.h
  utils/s2n_blob.h
  utils/s2n_ensure.h
  utils/s2n_map.h
  utils/s2n_random.h
  utils/s2n_rfc5952.h
  utils/s2n_safety.h
  utils/s2n_set.h
  utils/s2n_socket.h
  utils/s2n_timer.h
Labels: s2n-core

#3722 Fix s2n_record_write return value
  tests/unit/s2n_3des_test.c
  tests/unit/s2n_aead_aes_test.c
  tests/unit/s2n_aead_chacha20_poly1305_test.c
  tests/unit/s2n_aes_sha_composite_test.c
  tests/unit/s2n_aes_test.c
  tests/unit/s2n_client_hello_request_test.c
  tests/unit/s2n_post_handshake_recv_test.c
  tests/unit/s2n_rc4_test.c
  tests/unit/s2n_record_size_test.c
  tests/unit/s2n_record_test.c
  tests/unit/s2n_tls13_handshake_early_data_test.c
  tests/unit/s2n_tls13_record_aead_test.c
  tests/unit/s2n_tls13_zero_length_payload_test.c
  tls/s2n_handshake_io.c
  tls/s2n_key_update.c
  tls/s2n_record.h
  tls/s2n_record_write.c
  tls/s2n_send.c
  tls/s2n_server_new_session_ticket.c
Labels: s2n-core

#3727 Upgrade CBMC infrastructure (starter-kit 2.8)
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/lib/summarize.py
  tests/cbmc/proofs/run-cbmc-proofs.py
Labels: CBMC

#3640 Update team members
  .github/teams.yml
Labels: s2n-core

#3716 Quick typo fix in `s2n_aead_cipher_aes_gcm_encrypt`
  crypto/s2n_aead_cipher_aes_gcm.c
Labels: s2n-core

#3731 Upgrade CBMC infrastructure (starter-kit 2.8.8)
  tests/cbmc/proofs/Makefile.common
  tests/cbmc/proofs/lib/print_tool_versions.py
  tests/cbmc/proofs/run-cbmc-proofs.py
Labels: CBMC

#3604 ci: Update fuzz buildspec to use pre-built image
  codebuild/spec/buildspec_ubuntu_fuzz_artifacts.yml
Labels: s2n-core

#3627 ci: Clean up integration v1 buildspecs
  codebuild/spec/buildspec_ubuntu_integ_openssl102_asanvalgrind.yml
Labels: s2n-core
