Repository aws/s2n-tls, pull requests merged in 2022-04, with the labels that each got.

#3266 ci: temporarily remove test endpoints with expired certs
  tests/integration/s2n_client_endpoint_handshake_test.py
  tests/integrationv2/test_well_known_endpoints.py
Labels: type/test, s2n-core

#3265 Add basic rust ci jobs
  .github/workflows/bindings.yml
  .github/workflows/ci_rust.yml
  bindings/rust/generate/src/main.rs
  bindings/rust/s2n-tls-sys/src/lib.rs
Labels: s2n-core

#3256 release(rust-bindings): 0.0.5
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3267 ci: don't update the GH pages dashboard outside of main repo
  .github/workflows/dashboard.yml
Labels: s2n-core

#3271 ci: check integv2 python for pep8 issues
  .github/workflows/ci_linting.yml
Labels: s2n-core

#3275 Disable strict-prototypes diagnostic flag in Clang
  s2n.mk
Labels: s2n-core

#3270 build: cast-qual flag in Cmake for aws-lc
  CMakeLists.txt
Labels: s2n-core

#3261 [bindings] Add basic s2n-tls-tokio skeleton
  bindings/rust/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls-tokio/examples/certs/cert.pem
  bindings/rust/s2n-tls-tokio/examples/certs/key.pem
  bindings/rust/s2n-tls-tokio/examples/client.rs
  bindings/rust/s2n-tls-tokio/examples/server.rs
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
Labels: s2n-core

#3276 build: use S2N_LIBCRYPTO to pick interning lib
  codebuild/bin/install_awslc.sh
  codebuild/bin/test_libcrypto_interning.sh
Labels: s2n-core

#3278 Fix MacOS unit tests
  tests/unit/s2n_mem_usage_test.c
  tests/unit/s2n_self_talk_broken_pipe_test.c
Labels: s2n-core

#3280 ci: GitHub actions for osx
  .github/install_osx_dependencies.sh
  .github/s2n_osx.sh
  .github/workflows/gha_osx_tests.yml
Labels: type/build, s2n-core

#3244 Add additional libcryptos to V2 integration tests
  codebuild/bin/install_boringssl.sh
  codebuild/bin/install_libressl.sh
  codebuild/bin/install_s2n_head.sh
  codebuild/bin/install_ubuntu_dependencies.sh
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_set_build_preset.sh
  codebuild/bin/s2n_setup_env.sh
  codebuild/spec/buildspec_ubuntu_integrationv2.yml
  tests/integrationv2/Makefile
  tests/integrationv2/README.md
  tests/integrationv2/common.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_client_authentication.py
  tests/integrationv2/test_cross_compatibility.py
  tests/integrationv2/test_dynamic_record_sizes.py
  tests/integrationv2/test_early_data.py
  tests/integrationv2/test_external_psk.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_hello_retry_requests.py
  tests/integrationv2/test_key_update.py
  tests/integrationv2/test_ocsp.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_session_resumption.py
  tests/integrationv2/test_signature_algorithms.py
  tests/integrationv2/test_sni_match.py
  tests/integrationv2/test_sslyze.py
  tests/integrationv2/test_version_negotiation.py
  tests/integrationv2/tox.ini
  tests/integrationv2/utils.py
Labels: s2n-core

#3253 Add test utility for fork tests
  crypto/s2n_drbg.c
  crypto/s2n_drbg.h
  tests/s2n_test.h
  tests/saw/spec/DRBG/DRBG.saw
  tests/unit/s2n_drbg_test.c
  tests/unit/s2n_fork_generation_number_test.c
  tests/unit/s2n_random_test.c
Labels: type/test

#3282 bug: fix s2n_connection initialization and wipe
  tests/unit/s2n_client_hello_retry_test.c
  tls/s2n_connection.c
Labels: s2n-core

#3277 Disable s2nc/d FIPS calls while interning
  CMakeLists.txt
  bin/s2nc.c
  bin/s2nd.c
  crypto/s2n_fips.c
Labels: s2n-core

#3294 build(bindings): use cmake when building with pq feature
  .github/workflows/ci_rust.yml
  bindings/rust/generate.sh
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-sys/build.rs
  bindings/rust/s2n-tls/src/raw/security.rs
  codebuild/bin/install_openssl_1_1_1.sh
Labels: s2n-core

#3297 fix(s2n-tls-sys): add cmake files to the include directive
  bindings/rust/generate.sh
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3295 ci: add awslc interning to omnibus
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core
