Repository aws/s2n-tls, pull requests merged in 2022-07, with the labels that each got.

#3362 Add HRR compliance comments and tests for TLS RFC section 4.2.8
  tests/unit/s2n_client_early_data_indication_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_client_key_share_extension_test.c
  tests/unit/s2n_server_early_data_indication_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_server_key_share.c
  tls/s2n_server_hello_retry.c
Labels: s2n-core

#3386 build(rust-bindings): use the 2021 rust edition
  bindings/rust/generate/Cargo.toml
  bindings/rust/integration/Cargo.toml
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-sys/build.rs
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3363 Add HRR compliance comments and tests for remaining TLS RFC sections
  tests/unit/s2n_client_early_data_indication_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_client_key_share_extension_test.c
  tests/unit/s2n_client_psk_extension_test.c
  tests/unit/s2n_cookie_test.c
  tls/extensions/s2n_client_key_share.c
Labels: s2n-core

#3388 release(rust-bindings): 0.0.9
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3387 Fix how KeyUpdates trigger
  tests/unit/s2n_key_update_test.c
  tests/unit/s2n_sequence_number_test.c
  tls/s2n_key_update.c
Labels: s2n-core

#3391 ci: Remove Integration Tests from Omnibus
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core

#3398 fail generate.sh when cargo fails
  bindings/rust/generate.sh
Labels: bindings/rust

#3401 Don't wipe extensions after processing
  api/s2n.h
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_extension_list_process_test.c
  tests/unit/s2n_tls13_support_test.c
  tls/extensions/s2n_extension_list.c
  tls/extensions/s2n_extension_list.h
  tls/s2n_client_hello.c
Labels: s2n-core

#3403 [bindings] Include errno in errors
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls-tokio/tests/send_and_recv.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/pool.rs
  docs/USAGE-GUIDE.md
  tls/s2n_connection.c
Labels: s2n-core

#3406 ci: update OSX env for FreeBSD action
  .github/workflows/ci_freebsd.yml
Labels: type/build, s2n-core

#3410 [bindings] Fix constant name
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/connection/builder.rs
  bindings/rust/s2n-tls/src/enums.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/security.rs
Labels: s2n-core

#3402 release (rust bindings) for v1.3.17 release
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core, bindings/rust

#3412 [bindings] Make errno a required dependency
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core, bindings/rust

#3413 [bindings] Bump s2n-tls-tokio version to 0.0.10
  bindings/rust/s2n-tls-tokio/Cargo.toml
Labels: s2n-core, bindings/rust

#3414 ci: Temporarily pin AWS-LC to a commit before gcc 4.8 breaks
  codebuild/bin/install_awslc.sh
Labels: s2n-core

#3405 Added RFC exception comment
  tls/extensions/s2n_client_ems.c
Labels: type/docs, s2n-core

#3411 Miscellaneous Usage Guide Fixes
  api/s2n.h
  docs/USAGE-GUIDE.md
Labels: type/docs, s2n-core

#3409 Add more testing for s2n_send
  tests/unit/s2n_send_test.c
Labels: s2n-core
