Repository aws/s2n-tls, pull requests merged in 2023-01, with the labels that each got.

#3736 Autopep8 updated CI and code.
  .github/workflows/ci_linting.yml
  tests/integrationv2/.pep8
  tests/integrationv2/fixtures.py
  tests/integrationv2/processes.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_client_authentication.py
  tests/integrationv2/test_cross_compatibility.py
  tests/integrationv2/test_dynamic_record_sizes.py
  tests/integrationv2/test_early_data.py
  tests/integrationv2/test_external_psk.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_hello_retry_requests.py
  tests/integrationv2/test_key_update.py
  tests/integrationv2/test_npn.py
  tests/integrationv2/test_ocsp.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_renegotiate.py
  tests/integrationv2/test_renegotiate_apache.py
  tests/integrationv2/test_session_resumption.py
  tests/integrationv2/test_signature_algorithms.py
  tests/integrationv2/test_sni_match.py
  tests/integrationv2/test_sslyze.py
  tests/integrationv2/test_version_negotiation.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/utils.py
Labels: s2n-core

#3733 utils: guard POSIX signals with >S2N_FAILURE
  docs/SAFETY-MACROS.md
  scripts/s2n_safety_macros.py
  utils/s2n_safety_macros.h
Labels: s2n-core

#3708 Intentionally disable fragmenting KeyUpdates
  api/s2n.h
  tests/integrationv2/test_buffered_send.py
  tests/unit/s2n_config_test.c
  tests/unit/s2n_key_update_test.c
  tests/unit/s2n_post_handshake_recv_test.c
  tests/unit/s2n_record_size_test.c
  tests/unit/s2n_renegotiate_test.c
  tests/unit/s2n_send_multirecord_test.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.h
  tls/s2n_crypto.h
  tls/s2n_record.h
  tls/s2n_record_write.c
  tls/s2n_send.c
Labels: s2n-core

#3742 ci: Fix libfuzzer path for third-party-src dir
  codebuild/spec/buildspec_ubuntu_fuzz_artifacts.yml
Labels: s2n-core

#3728 Add check to s2n_signature_scheme_valid_to_accept
  tests/unit/s2n_tls13_cert_verify_test.c
  tls/s2n_signature_algorithms.c
Labels: s2n-core

#3744 Ensure non-zero record protocol version
  tests/unit/s2n_record_write_test.c
  tls/s2n_record_write.c
Labels: s2n-core

#3704 ci: improve test name parsing for criterion
  bindings/rust/Makefile
  bindings/rust/integration/benches/s2nc.rs
  bindings/rust/integration/benches/s2nd.rs
  bindings/rust/integration/benches/utils.rs
Labels: s2n-core

#3746 Bump rust bindings version for v1.3.32 release
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3741 Fragment large post-handshake records
  tests/unit/s2n_post_handshake_send_test.c
  tests/unit/s2n_send_multirecord_test.c
  tests/unit/s2n_server_new_session_ticket_test.c
  tls/s2n_post_handshake.c
  tls/s2n_post_handshake.h
  tls/s2n_server_new_session_ticket.c
Labels: s2n-core

#3534 Criterion integrationv2 python changes
  tests/integrationv2/README.md
  tests/integrationv2/conftest.py
  tests/integrationv2/fixtures.py
  tests/integrationv2/global_flags.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/tox.ini
Labels: s2n-core

#3752 Remove unused extension functions
  tls/extensions/s2n_client_alpn.c
  tls/extensions/s2n_client_alpn.h
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_client_key_share.h
  tls/extensions/s2n_client_max_frag_len.c
  tls/extensions/s2n_client_max_frag_len.h
  tls/extensions/s2n_client_pq_kem.c
  tls/extensions/s2n_client_pq_kem.h
  tls/extensions/s2n_client_renegotiation_info.c
  tls/extensions/s2n_client_renegotiation_info.h
  tls/extensions/s2n_client_sct_list.c
  tls/extensions/s2n_client_sct_list.h
  tls/extensions/s2n_client_server_name.c
  tls/extensions/s2n_client_server_name.h
  tls/extensions/s2n_client_session_ticket.c
  tls/extensions/s2n_client_session_ticket.h
  tls/extensions/s2n_client_signature_algorithms.c
  tls/extensions/s2n_client_signature_algorithms.h
  tls/extensions/s2n_client_status_request.c
  tls/extensions/s2n_client_status_request.h
  tls/extensions/s2n_client_supported_groups.c
  tls/extensions/s2n_client_supported_groups.h
  tls/extensions/s2n_client_supported_versions.c
  tls/extensions/s2n_client_supported_versions.h
  tls/extensions/s2n_ec_point_format.c
  tls/extensions/s2n_ec_point_format.h
  tls/extensions/s2n_server_renegotiation_info.c
  tls/extensions/s2n_server_renegotiation_info.h
  tls/extensions/s2n_server_session_ticket.c
  tls/extensions/s2n_server_session_ticket.h
  tls/extensions/s2n_server_status_request.c
  tls/extensions/s2n_server_status_request.h
  tls/extensions/s2n_server_supported_versions.c
  tls/extensions/s2n_server_supported_versions.h
Labels: s2n-core

#3739 ci: Bump boringssl version
  codebuild/bin/install_boringssl.sh
Labels: s2n-core

#3761 ci: upgrade checkout action to v3
  .github/workflows/ci_freebsd.yml
  .github/workflows/ci_linting.yml
  .github/workflows/ci_openbsd.yml
  .github/workflows/ci_rust.yml
  .github/workflows/dashboard.yml
  .github/workflows/gha_failure_monitor.yml
  .github/workflows/gha_osx_tests.yml
  .github/workflows/private_sync.yml
Labels: s2n-core

#3735 Blob initialization fix-1
  tls/s2n_alerts.c
  tls/s2n_change_cipher_spec.c
  tls/s2n_cipher_suites.c
  tls/s2n_config.c
  tls/s2n_handshake.c
  tls/s2n_handshake_io.c
  tls/s2n_kem.c
  tls/s2n_record_read_aead.c
  tls/s2n_server_key_exchange.c
Labels: s2n-core

#3753 ci: enable multicore builds for unit test
  codebuild/bin/s2n_codebuild.sh
Labels: s2n-core

#3767 Clang format cleanup
  .git-blame-ignore-revs
  .github/workflows/ci_clang_format_check.yml
  .github/workflows/ci_linting.yml
Labels: s2n-core

#3747 Adds check to ensure no switching between state machines
  tests/saw/spec/handshake/handshake_io_lowlevel.saw
  tests/saw/spec/handshake/rfc_handshake_tls13.cry
  tests/saw/spec/handshake/s2n_handshake_io.cry
  tests/saw/verify_imperative_cryptol_spec.saw
  tests/unit/s2n_early_data_test.c
  tests/unit/s2n_handshake_io_async_test.c
  tests/unit/s2n_quic_support_io_test.c
  tests/unit/s2n_server_extensions_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_tls13_handshake_state_machine_test.c
  tests/unit/s2n_tls13_key_schedule_rfc8448_test.c
  tests/unit/s2n_tls13_key_schedule_test.c
  tests/unit/s2n_tls13_secrets_test.c
  tls/s2n_handshake.h
  tls/s2n_handshake_io.c
  tls/s2n_handshake_type.c
Labels: s2n-core

#3715 Record padding integration test
  tests/integrationv2/test_record_padding.py
  tests/unit/s2n_tls13_parse_record_type_test.c
  tests/unit/s2n_tls13_zero_length_payload_test.c
Labels: type/integration_test, s2n-core

#3765 Rename OCSP extensions
  tests/unit/s2n_cert_status_extension_test.c
  tests/unit/s2n_cert_status_response_extension_test.c
  tests/unit/s2n_client_cert_status_request_extension_test.c
  tests/unit/s2n_server_extensions_test.c
  tls/extensions/s2n_cert_status.c
  tls/extensions/s2n_cert_status.h
  tls/extensions/s2n_cert_status_response.c
  tls/extensions/s2n_cert_status_response.h
  tls/extensions/s2n_client_cert_status_request.c
  tls/extensions/s2n_client_cert_status_request.h
  tls/extensions/s2n_extension_type_lists.c
  tls/s2n_ocsp_stapling.c
Labels: s2n-core

#3762 Blob initialization fix-2
  tls/s2n_client_key_exchange.c
  tls/s2n_prf.c
  tls/s2n_recv.c
  tls/s2n_server_new_session_ticket.c
Labels: s2n-core

#3750 Consolidate handshake and post-handshake record writing
  tests/testlib/s2n_test_server_client.c
  tests/unit/s2n_handshake_fragment_test.c
  tests/unit/s2n_quic_support_io_test.c
  tls/s2n_handshake.h
  tls/s2n_handshake_io.c
  tls/s2n_handshake_transcript.c
  tls/s2n_post_handshake.c
  tls/s2n_quic_support.c
Labels: s2n-core

#3768 Blob initialization fix-3
  crypto/s2n_composite_cipher_aes_sha.c
  crypto/s2n_hkdf.c
  pq-crypto/s2n_pq_random.c
  tls/s2n_record_write.c
  tls/s2n_x509_validator.c
  utils/s2n_random.c
Labels: s2n-core

#3772 s2n_shutdown: do not require response during handshake
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_client_record_version_test.c
  tests/unit/s2n_self_talk_client_hello_cb_test.c
  tests/unit/s2n_self_talk_shutdown_test.c
  tests/unit/s2n_shutdown_test.c
  tls/s2n_handshake.h
  tls/s2n_handshake_io.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3785 Add min supported rust version for clippy
  bindings/rust/.clippy.toml
Labels: s2n-core

#3769 s2n_shutdown should ignore unread messages
  bin/common.c
  bin/common.h
  bin/s2nc.c
  bin/s2nd.c
  tests/unit/s2n_self_talk_shutdown_test.c
  tests/unit/s2n_shutdown_test.c
  tls/s2n_recv.c
  tls/s2n_shutdown.c
  tls/s2n_tls.h
Labels: s2n-core

#3780 Blob Initialization fix-Test
  tests/fuzz/s2n_deserialize_resumption_state_test.c
  tests/testlib/s2n_pq_kat_test_utils.c
  tests/testlib/s2n_stuffer_hex.c
  tests/unit/s2n_3des_test.c
  tests/unit/s2n_aead_aes_test.c
  tests/unit/s2n_aead_chacha20_poly1305_test.c
  tests/unit/s2n_aes_sha_composite_test.c
  tests/unit/s2n_aes_test.c
  tests/unit/s2n_blob_test.c
  tests/unit/s2n_drbg_test.c
  tests/unit/s2n_hash_test.c
  tests/unit/s2n_hkdf_test.c
  tests/unit/s2n_hmac_test.c
  tests/unit/s2n_override_openssl_random_test.c
  tests/unit/s2n_random_test.c
  tests/unit/s2n_rc4_test.c
  tests/unit/s2n_record_size_test.c
Labels: s2n-core

#3787 Enforce that clippy msrv matches rust-toolchain
  .github/workflows/ci_rust.yml
Labels: s2n-core

#3759 add code coverage support
  CMakeLists.txt
  codebuild/bin/coverage_build.sh
  codebuild/bin/coverage_report.sh
  codebuild/bin/coverage_upload.sh
  codebuild/spec/buildspec_omnibus.yml
  codebuild/spec/buildspec_unit_coverage.yml
Labels: s2n-core

#3793 fix: pass an empty string to host verify without usable identifiers
  tests/pems/cert_config.cfg
  tests/pems/gen_self_signed_cert.sh
  tests/pems/sni/generate.sh
  tests/pems/sni/ip_v6_lo_rsa_cert.pem
  tests/pems/sni/ip_v6_lo_rsa_key.pem
  tests/pems/sni/without_cn_rsa_cert.pem
  tests/pems/sni/without_cn_rsa_key.pem
  tests/testlib/s2n_testlib.h
  tests/unit/s2n_x509_validator_test.c
  tls/s2n_x509_validator.c
Labels: s2n-core

#3790 Blob Initialization fix-Test_1
  tests/unit/s2n_record_test.c
  tests/unit/s2n_rfc5952_test.c
  tests/unit/s2n_ssl_prf_test.c
  tests/unit/s2n_stream_cipher_null_test.c
  tests/unit/s2n_stuffer_base64_test.c
  tests/unit/s2n_stuffer_hex_test.c
  tests/unit/s2n_stuffer_test.c
  tests/unit/s2n_tls13_record_aead_test.c
  tests/unit/s2n_tls_hybrid_prf_test.c
  tests/unit/s2n_wildcard_hostname_test.c
Labels: s2n-core

#3719 Integration test to check default signature algorithm behavior
  tests/integrationv2/common.py
  tests/integrationv2/test_signature_algorithms.py
Labels: s2n-core

#3757 Adds client hello section to usage guide
  README.md
  api/s2n.h
  bin/s2nc.c
  bin/s2nd.c
  docs/USAGE-GUIDE.md
  tls/s2n_handshake_io.c
Labels: type/docs, s2n-core
