Repository aws/s2n-tls, pull requests merged in 2023-02, with the labels that each got.

#3796 Update omnibus fuzz images
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core

#3802 Bump rust bindings for 1.3.35 release
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3794 s2n-tls nix flake
  .gitignore
  flake.lock
  flake.nix
Labels: s2n-core

#3791 Update OpenBSD's MEM_PER_CONNECTION, based on error message
  tests/unit/s2n_mem_usage_test.c
Labels: s2n-core

#3797 ktls: s2n_ktls_mode and building blocks
  tests/unit/s2n_ktls_mode_test.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.h
  tls/s2n_ktls.h
Labels: s2n-core

#3804 Make test_install_shared_and_static easier to debug
  codebuild/bin/test_install_shared_and_static.sh
Labels: s2n-core

#3806 ktls: add ktls_supported field to s2n_cipher
  crypto/s2n_aead_cipher_aes_gcm.c
  crypto/s2n_cipher.h
  tests/unit/s2n_ktls_test.c
Labels: s2n-core

#3816 ktls: rm kTLS request field on config
  tests/unit/s2n_ktls_mode_test.c
  tls/s2n_config.c
  tls/s2n_config.h
Labels: s2n-core

#3814 Add stuffer helper method for standard init process
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer.h
  tests/unit/s2n_stuffer_test.c
Labels: s2n-core

#3818 Bump rust bindings for 1.3.36 release
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3815 Clarify SSLv2 ClientHellos
  api/s2n.h
  docs/USAGE-GUIDE.md
  tests/unit/s2n_client_hello_test.c
  tls/s2n_client_hello.c
  tls/s2n_client_hello.h
  tls/s2n_record_read.c
Labels: s2n-core

#3817 Add JA3 fingerprinting
  tests/unit/s2n_fingerprint_ja3_test.c
  tls/s2n_client_hello.c
  tls/s2n_client_hello.h
  tls/s2n_fingerprint.c
  tls/s2n_fingerprint.h
Labels: s2n-core

#3811 Criterion delta
  codebuild/bin/criterion_baseline.sh
  codebuild/bin/criterion_delta.sh
Labels: s2n-core

#3833 bindings(rust): bump MSRV to 1.60.0
  bindings/rust/.clippy.toml
  bindings/rust/rust-toolchain
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
  bindings/rust/s2n-tls/src/lib.rs
Labels: s2n-core

#3771 Clean up thread-local memory
  docs/USAGE-GUIDE.md
  tests/unit/s2n_init_test.c
  utils/s2n_init.c
  utils/s2n_random.c
Labels: s2n-core

#3823 Make unstable fingerprint methods accessible
  api/unstable/fingerprint.h
  tests/unit/s2n_fingerprint_ja3_test.c
  tls/s2n_fingerprint.c
  tls/s2n_fingerprint.h
Labels: s2n-core

#3776 Add CMake targets for integration tests and switch CI to use them
  .github/s2n_freebsd.sh
  CMakeLists.txt
  codebuild/bin/s2n_codebuild.sh
  codebuild/bin/s2n_codebuild_al2.sh
  codebuild/bin/test_libcrypto_interning.sh
  codebuild/spec/buildspec_unit_coverage.yml
  tests/integrationv2/tox.ini
Labels: s2n-core

#3837 ci: reduce the number of BSD artifacts
  .github/s2n_bsd.sh
  .github/s2n_openbsd.sh
  .github/workflows/ci_freebsd.yml
  .github/workflows/ci_openbsd.yml
Labels: s2n-core

#3827 Enable -Wsign-Compare-check_v2-tests/unit
  tests/unit/s2n_extension_type_lists_test.c
  tests/unit/s2n_extension_type_test.c
  tests/unit/s2n_mem_allocator_test.c
  tests/unit/s2n_mem_usage_test.c
  tests/unit/s2n_mutual_auth_test.c
  tests/unit/s2n_pem_test.c
  tests/unit/s2n_rc4_test.c
  tests/unit/s2n_record_size_test.c
  tests/unit/s2n_record_test.c
  tests/unit/s2n_safety_macros_test.c
  tests/unit/s2n_self_talk_alerts_test.c
  tests/unit/s2n_self_talk_nonblocking_test.c
  tests/unit/s2n_self_talk_session_id_test.c
  tests/unit/s2n_self_talk_tls13_test.c
  tests/unit/s2n_server_cert_request_test.c
Labels: s2n-core

#3836 Add github trigger event for merge queue
  .github/workflows/ci_compliance.yml
  .github/workflows/ci_freebsd.yml
  .github/workflows/ci_linting.yml
  .github/workflows/ci_openbsd.yml
  .github/workflows/ci_rust.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/gha_osx_tests.yml
  .github/workflows/private_fork_pr_codebuild.yml
Labels: s2n-core

#3830 Prevent auto-enabling OCSP requests for servers
  tests/unit/s2n_client_cert_status_request_extension_test.c
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_config_test.c
  tls/extensions/s2n_client_cert_status_request.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.c
  tls/s2n_connection.h
Labels: s2n-core

#3828 Enable -Wsign-Compare-check_v3-tests/unit/
  tests/unit/s2n_stuffer_base64_test.c
  tests/unit/s2n_stuffer_network_order_test.c
  tests/unit/s2n_tls12_handshake_test.c
  tests/unit/s2n_tls13_cert_verify_test.c
  tests/unit/s2n_tls13_prf_test.c
  tests/unit/s2n_tls13_record_aead_test.c
  tests/unit/s2n_tls13_server_finished_test.c
  tests/unit/s2n_tls13_support_test.c
  tests/unit/s2n_wildcard_hostname_test.c
Labels: s2n-core

#3825 Enable -Wsign-Compare-check_bin/_crypto/_stuffer/_utils/
  bin/common.c
  crypto/s2n_cbc_cipher_3des.c
  crypto/s2n_cbc_cipher_aes.c
  crypto/s2n_certificate.c
  crypto/s2n_composite_cipher_aes_sha.c
  crypto/s2n_drbg.c
  crypto/s2n_hash.c
  crypto/s2n_rsa.c
  crypto/s2n_stream_cipher_rc4.c
  stuffer/s2n_stuffer_network_order.c
  stuffer/s2n_stuffer_text.c
  utils/s2n_map.c
  utils/s2n_random.c
  utils/s2n_safety.c
Labels: s2n-core

#3826 Enable -Wsign-Compare-check_v1-tests/
  tests/sidetrail/working/patches/cbc.patch
  tests/testlib/s2n_connection_test_utils.c
  tests/testlib/s2n_stuffer_hex.c
  tests/unit/s2n_aes_sha_composite_test.c
  tests/unit/s2n_aes_test.c
  tests/unit/s2n_array_test.c
  tests/unit/s2n_async_pkey_test.c
  tests/unit/s2n_cert_chain_and_key_test.c
  tests/unit/s2n_client_extensions_test.c
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_client_signature_algorithms_extension_test.c
  tests/unit/s2n_client_supported_groups_extension_test.c
  tests/unit/s2n_client_supported_versions_extension_test.c
  tests/unit/s2n_ecc_evp_test.c
  tests/unit/s2n_ecdsa_test.c
  tls/s2n_cbc.c
  tls/s2n_connection.c
Labels: s2n-core

#3829 Enable -Wsign-Compare-check_tls/
  tls/extensions/s2n_extension_type.c
  tls/s2n_cipher_suites.c
  tls/s2n_config.c
  tls/s2n_connection.c
  tls/s2n_early_data_io.c
  tls/s2n_kem.c
  tls/s2n_prf.c
  tls/s2n_protocol_preferences.c
  tls/s2n_record_write.c
  tls/s2n_resume.c
  tls/s2n_send.c
  tls/s2n_server_cert_request.c
  tls/s2n_signature_algorithms.c
  tls/s2n_x509_validator.c
Labels: s2n-core

#3770 Add OCSP stapling for client auth
  api/s2n.h
  docs/USAGE-GUIDE.md
  tests/unit/s2n_cert_status_extension_test.c
  tests/unit/s2n_server_cert_status_request_extension_test.c
  tls/extensions/s2n_cert_status.c
  tls/extensions/s2n_extension_type_lists.c
  tls/extensions/s2n_server_cert_status_request.c
  tls/extensions/s2n_server_cert_status_request.h
Labels: s2n-core

#3842 Enable -Wsign-Compare-check_CMakeLists
  CMakeLists.txt
  crypto/s2n_certificate.c
  crypto/s2n_locking.c
  tls/s2n_fingerprint.c
Labels: s2n-core

#3846 CI: pin AWS-LC versions
  codebuild/bin/install_awslc.sh
Labels: s2n-core

#3844 [bindings] Generalize async in preparation for pkey offloading
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/callbacks/async_cb.rs
  bindings/rust/s2n-tls/src/callbacks/client_hello.rs
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/error.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#3845 fix: use actual_protocol_version for session ID
  tests/integrationv2/test_session_resumption.py
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_self_talk_session_resumption_test.c
  tls/s2n_client_hello.c
Labels: s2n-core

#3838 Add JA3 to s2nd
  bin/echo.c
Labels: s2n-core

#3849 Filter do_not_merge label from Ready to merge in Dashboard
  .github/workflows/dashboard.yml
Labels: s2n-core

#3850 Remove unused s2n_config_client_hello_cb_enable_poll
  bindings/rust/s2n-tls-sys/src/internal.rs
  tests/unit/s2n_self_talk_client_hello_cb_test.c
  tests/unit/s2n_server_hello_retry_test.c
  tls/s2n_client_hello.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_internal.h
Labels: s2n-core

#3824 Run integv2 tests with nix
  .gitignore
  CMakeLists.txt
  flake.nix
  nix/amazon-corretto-8.nix
  nix/gnutls.nix
  nix/libressl.nix
  nix/nettle.nix
  nix/openssl_0_9_8.nix
  nix/openssl_1_0_2.nix
  nix/openssl_1_1_1.nix
  nix/openssl_3_0.nix
  nix/pyenv.nix
  nix/shell.sh
Labels: s2n-core

#3840 Add CBMC proof-running GitHub Action
  .github/workflows/proof_ci.yaml
  .github/workflows/proof_ci_resources/config.yaml
  tests/cbmc/proofs/lib/summarize.py
Labels: CBMC

#3858 Rust bindings issue with openssl-src
  bindings/rust/.clippy.toml
  bindings/rust/rust-toolchain
Labels: s2n-core, bindings/rust

#3855 Handle ASN.1 type detection errors
  crypto/s2n_certificate.c
  crypto/s2n_pkey.c
  crypto/s2n_pkey.h
  stuffer/s2n_stuffer.h
  stuffer/s2n_stuffer_pem.c
  tests/cbmc/proofs/s2n_stuffer_private_key_from_pem/Makefile
  tests/cbmc/proofs/s2n_stuffer_private_key_from_pem/s2n_stuffer_private_key_from_pem_harness.c
  tests/pems/missing_public_key_ecdsa_cert.pem
  tests/pems/missing_public_key_ecdsa_key.pem
  tests/unit/s2n_ecdsa_test.c
  tests/unit/s2n_pem_rsa_dhe_test.c
  tests/unit/s2n_pem_test.c
Labels: s2n-core
