Repository aws/s2n-tls, pull requests merged in 2023-04, with the labels that each got.

#3915 docs: add compliance notes for RFC 6125
  tls/s2n_x509_validator.c
Labels: s2n-core

#3918 test: add retry logic for well-known endpoints
  tests/integrationv2/test_well_known_endpoints.py
Labels: s2n-core

#3919 chore(bindings): release 0.0.29
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3914 test: Bump nix devShell python to 3.10
  nix/pyenv.nix
Labels: s2n-core, type/nix

#3913 Attempts to fix flakiness in session_ticket_test
  tests/unit/s2n_session_ticket_test.c
Labels: s2n-core

#3927 Create new PQ TLS Policies with minimum of TLSv1.2
  tests/unit/s2n_security_policies_test.c
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
Labels: type/post-quantum

#3923 doc: Flesh out steps in nix readme.
  nix/README.md
Labels: s2n-core, type/nix

#3930 Add note about server_name spec requirements
  api/s2n.h
Labels: s2n-core

#3938 ci: Update AWSLC test dependency to v1.8.0
  codebuild/bin/install_awslc.sh
Labels: s2n-core

#3920 Adds FAQ doc
  docs/FAQ.md
Labels: type/docs, s2n-core

#3940 Remove unnecessary flush
  tls/s2n_recv.c
Labels: s2n-core

#3906 update security policy and rust binding documentation
  README.md
  bindings/rust/s2n-tls-sys/README.md
  bindings/rust/s2n-tls-tokio/README.md
  bindings/rust/s2n-tls/README.md
  docs/USAGE-GUIDE.md
  tls/s2n_security_policies.h
  tls/s2n_x509_validator.c
Labels: s2n-core

#3929 ci: Add github stale action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: s2n-core

#3942 Don't send close_notify after an alert
  tests/unit/s2n_shutdown_test.c
  tls/s2n_alerts.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3917 Update IO section of Usage Guide
  api/s2n.h
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3932 Add basic half-close TLS1.3 behavior
  tests/unit/s2n_alerts_protocol_test.c
  tests/unit/s2n_alerts_test.c
  tests/unit/s2n_client_hello_request_test.c
  tests/unit/s2n_connection_test.c
  tests/unit/s2n_early_data_io_api_test.c
  tests/unit/s2n_early_data_io_test.c
  tests/unit/s2n_handshake_io_errors_test.c
  tests/unit/s2n_post_handshake_test.c
  tests/unit/s2n_safety_blinding_test.c
  tests/unit/s2n_self_talk_shutdown_test.c
  tests/unit/s2n_shutdown_test.c
  tls/s2n_alerts.c
  tls/s2n_cipher_suites.c
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_handshake_io.c
  tls/s2n_recv.c
  tls/s2n_send.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3925 bindings: add verify_host_callback to the connection
  bindings/rust/integration/benches/handshake.rs
  bindings/rust/s2n-tls/src/callbacks.rs
  bindings/rust/s2n-tls/src/callbacks/pkey.rs
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
  docs/USAGE-GUIDE.md
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_connection.c
Labels: s2n-core

#3943 ci: Add AWSLC-FIPS 2022 to CI
  CMakeLists.txt
  codebuild/bin/install_awslc_fips_2022.sh
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/s2n_set_build_preset.sh
  codebuild/bin/s2n_setup_env.sh
  codebuild/bin/test_libcrypto_interning.sh
  crypto/s2n_libcrypto.c
  tests/unit/s2n_openssl_test.c
Labels: s2n-core

#3924 add 32 bit cross-compile toolchain
  CMakeLists.txt
  cmake/toolchains/32-bit.toolchain
  docs/USAGE-GUIDE.md
  pq-crypto/README.md
  tests/unit/s2n_connection_size_test.c
  tests/unit/s2n_connection_test.c
Labels: s2n-core

#3946 ci: Disable automatically closing stale PRs
  .github/workflows/stale.yml
Labels: s2n-core

#3951 Fix expected negotiated version in client auth downgrade test
  tests/integrationv2/test_client_authentication.py
Labels: s2n-core

#3945 Fix end-of-data behavior
  bin/echo.c
  tests/integrationv2/test_renegotiate.py
  tests/unit/s2n_alerts_protocol_test.c
  tls/s2n_recv.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3962 Add logging for failed CRT tests
  codebuild/bin/build_aws_crt_cpp.sh
Labels: s2n-core

#3957 Cover more situations where no close_notify is sent/received
  tests/unit/s2n_shutdown_test.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3956 chore[bindings]: release 0.0.30
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3961 chore: remove module.modulemap
  module.modulemap
Labels: s2n-core

#3950 Add API to create s2n_configs without loading system certs
  crypto/s2n_libcrypto.c
  crypto/s2n_openssl.h
  tests/unit/s2n_config_test.c
  tls/s2n_config.c
  tls/s2n_config.h
  tls/s2n_x509_validator.c
  tls/s2n_x509_validator.h
Labels: s2n-core
