Repository aws/s2n-tls, pull requests merged in 2023-05, with the labels that each got.

#3952 Add new API to perform half-close
  api/s2n.h
  docs/USAGE-GUIDE.md
  tests/unit/s2n_alerts_protocol_test.c
  tests/unit/s2n_shutdown_test.c
  tls/s2n_shutdown.c
Labels: s2n-core

#3974 Add test for cipher selection with dh params
  tests/unit/s2n_cipher_suite_match_test.c
Labels: s2n-core

#3971 style: clean up fuzz corpus
  tests/fuzz/corpus/s2n_server_cert_recv_test/29e2dcfbb16f63bb0254df7585a15bb6fb5e927d
  tests/fuzz/corpus/s2n_server_cert_recv_test/40651c21ac7548d1775db7f38bdca7e532c702ba
  tests/fuzz/corpus/s2n_server_cert_recv_test/88440333f9d7f56ee743662b95c0a2260fadcffc
  tests/fuzz/corpus/s2n_server_cert_recv_test/8e482d4c92270e0ae15a2ad5e7b7f0c9739d427f
  tests/fuzz/corpus/s2n_server_cert_recv_test/b48f491783e98de10682f2d4455dfce5bdc3c233
  tests/fuzz/corpus/s2n_server_cert_recv_test/e6ed2fb522ecdbd10e12180568c5e50d68f7beff
  tests/fuzz/corpus/s2n_server_fuzz_test/crashoutput.txt
Labels: type/fuzz_test, s2n-core

#3967 docs: update clang-format and gdb documentation
  codebuild/bin/clang_format_changed_files.sh
  docs/DEVELOPMENT-GUIDE.md
Labels: s2n-core

#3980 Use custom library context for rc4 instead of global default context
  bindings/rust/s2n-tls-sys/tests/s2n_init.rs
  crypto/s2n_cipher.h
  crypto/s2n_libcrypto.c
  crypto/s2n_libcrypto.h
  crypto/s2n_stream_cipher_rc4.c
  tests/unit/s2n_rc4_test.c
  tls/s2n_cipher_suites.c
  utils/s2n_init.c
Labels: s2n-core

#3977 Add 32 bit buildspec
  codebuild/spec/buildspec_32bit_cross_compile.yml
  codebuild/spec/buildspec_omnibus.yml
Labels: s2n-core

#3969 test: fix session-ticket, non-blocking-io tests on 32 bit
  CMakeLists.txt
  tests/unit/s2n_self_talk_nonblocking_test.c
  tests/unit/s2n_session_ticket_test.c
Labels: s2n-core

#3947 Dashboard stale
  .github/workflows/dashboard.yml
Labels: s2n-core

#3964 ci: nix devShell simplification
  flake.nix
  nix/openssl_0_9_8.nix
  tests/integrationv2/providers.py
Labels: s2n-core, type/nix

#3997 chore: bindings release 0.0.31
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3992 ci: enable ossl3 tls13 tests
  tests/integrationv2/providers.py
Labels: s2n-core

#3970 test: add more x509 OCSP tests
  tests/pems/ocsp/OCSP-TEST.md
  tests/pems/ocsp/config/ca.cnf
  tests/pems/ocsp/config/server_early_expire.cnf
  tests/pems/ocsp/generate.sh
  tests/pems/ocsp/ocsp_response_early_expire.der
  tests/pems/ocsp/server_cert_early_expire.pem
  tests/testlib/s2n_testlib.h
  tests/unit/s2n_x509_validator_test.c
Labels: s2n-core

#3984 Update FAQ + add s2n_negotiate example to Usage Guide
  docs/FAQ.md
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3985 bindings: Add option to disable loading system certs
  bindings/rust/s2n-tls-sys/src/internal.rs
  bindings/rust/s2n-tls/Cargo.toml
  bindings/rust/s2n-tls/src/config.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
  tls/s2n_config.h
  tls/s2n_internal.h
Labels: s2n-core

#4003 docs: add notes on s2nc and s2nd usage
  bin/s2nc.c
  bin/s2nd.c
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3993 nix devShell with openssl3
  flake.nix
  nix/shell.sh
Labels: s2n-core, type/nix

#4006 fix(s2nd): parse psk given to s2nd non-destructively
  bin/common.c
  bin/echo.c
Labels: s2n-core

#4008 style: simplfy api for test utility
  bindings/rust/s2n-tls/src/callbacks/pkey.rs
  bindings/rust/s2n-tls/src/testing.rs
  bindings/rust/s2n-tls/src/testing/s2n_tls.rs
Labels: s2n-core

#4010 nix: add a LibreSSL nix devShell
  flake.nix
  nix/shell.sh
Labels: s2n-core

#4013 nix: Use nixpkgs gnutls instead
  flake.nix
  nix/gnutls.nix
  nix/shell.sh
Labels: s2n-core

#4004 Add the libcrypto random generation implementation
  api/s2n.h
  tests/unit/s2n_random_test.c
  utils/s2n_random.c
Labels: s2n-core

#4011 X509 asn1 refactor
  CMakeLists.txt
  codebuild/bin/clang_format_changed_files.sh
  crypto/s2n_openssl_x509.c
  crypto/s2n_openssl_x509.h
  tests/unit/s2n_asn1_time_test.c
  tests/unit/s2n_x509_validator_test.c
  tls/s2n_x509_validator.c
  utils/s2n_asn1_time.c
  utils/s2n_asn1_time.h
Labels: s2n-core

#4007 test(bindings/s2n-tls-tokio): fix tokio bindings close test
  bindings/rust/s2n-tls-tokio/examples/certs/cert.pem
  bindings/rust/s2n-tls-tokio/examples/certs/cert_rsa.pem
  bindings/rust/s2n-tls-tokio/examples/certs/generate.sh
  bindings/rust/s2n-tls-tokio/examples/certs/key.pem
  bindings/rust/s2n-tls-tokio/examples/certs/key_rsa.pem
  bindings/rust/s2n-tls-tokio/tests/common/mod.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
Labels: s2n-core

#4022 Fix s2n_error_get_type mistake in usage guide
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3972 Publish minimal s2n_config APIs and add documentation
  api/s2n.h
  docs/USAGE-GUIDE.md
  tls/s2n_internal.h
Labels: s2n-core

#4025 Only call getenv for integ test marker in s2n_init
  tls/s2n_config.c
  utils/s2n_init.c
  utils/s2n_safety.c
  utils/s2n_safety.h
Labels: s2n-core

#4023 Disable retry client random validation outside of tests
  tests/unit/s2n_client_hello_retry_test.c
  tls/s2n_client_hello.c
Labels: s2n-core

#4027 fix: improve compatibility with old Linux versions
  crypto/s2n_openssl_x509.c
  utils/s2n_random.c
Labels: s2n-core
