Repository aws/s2n-tls, pull requests merged in 2023-03, with the labels that each got.

#3860 Add Rust bindings method to create certs without private keys
  bindings/rust/s2n-tls-sys/src/internal.rs
  bindings/rust/s2n-tls/src/callbacks/pkey.rs
  bindings/rust/s2n-tls/src/config.rs
  tests/unit/s2n_config_test.c
  tls/s2n_config.c
  tls/s2n_internal.h
Labels: s2n-core

#3800 Update s2n to latest revision of PQ Hybrid TLS 1.3 Draft RFC
  codebuild/bin/cppcheck_suppressions.txt
  codebuild/bin/install_oqs_openssl_1_1_1.sh
  tests/fuzz/s2n_hybrid_ecdhe_kyber_r3_fuzz_test.c
  tests/fuzz/s2n_kyber_r3_recv_ciphertext_fuzz_test.c
  tests/fuzz/s2n_kyber_r3_recv_public_key_fuzz_test.c
  tests/integrationv2/common.py
  tests/integrationv2/test_pq_handshake.py
  tests/unit/s2n_client_key_share_extension_pq_test.c
  tests/unit/s2n_connection_test.c
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tests/unit/s2n_tls13_pq_handshake_test.c
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_key_share.c
  tls/extensions/s2n_key_share.h
  tls/extensions/s2n_server_key_share.c
  tls/s2n_client_key_exchange.c
  tls/s2n_kem.c
  tls/s2n_kem.h
  tls/s2n_kem_preferences.c
  tls/s2n_kem_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
  tls/s2n_server_key_exchange.c
Labels: type/post-quantum

#3863 chore: bump rust bindings version; crates msrv to 1.63.0
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3866 ci: Check for msrv match between rust-toolchain an crates
  .github/workflows/ci_rust.yml
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3870 fix: disable defer cleanup in failure case in s2n_cert_chain_and_key_load_cns
  crypto/s2n_certificate.c
  tests/unit/s2n_certificate_test.c
Labels: s2n-core

#3839 tests: add checks for LTO+interning compatibility
  CMakeLists.txt
  codebuild/bin/install_openssl_1_0_2.sh
  codebuild/bin/install_openssl_1_0_2_fips.sh
  codebuild/bin/install_openssl_1_1_1.sh
  codebuild/bin/jobs.sh
  codebuild/bin/test_libcrypto_interning.sh
Labels: s2n-core

#3873 Enforce that ENSURE and GUARD_OSSL use valid error codes
  codebuild/bin/grep_simple_mistakes.sh
  crypto/s2n_rsa_pss.c
  crypto/s2n_rsa_signing.c
  error/s2n_errno.c
  error/s2n_errno.h
  pq-crypto/s2n_kyber_512_evp.c
  stuffer/s2n_stuffer.c
  stuffer/s2n_stuffer_file.c
  tests/unit/s2n_quic_support_test.c
  tests/unit/s2n_rsa_pss_rsae_test.c
  tls/s2n_tls13.c
  utils/s2n_mem.c
Labels: s2n-core

#3864 Rewrite of the PSK section in Usage Guide
  README.md
  docs/USAGE-GUIDE.md
Labels: type/docs, s2n-core

#3831 test: cleanup after tests
  tests/unit/s2n_cert_status_extension_test.c
  tests/unit/s2n_cert_status_response_extension_test.c
  tests/unit/s2n_fragmentation_coalescing_test.c
  tests/unit/s2n_malformed_handshake_test.c
  tests/unit/s2n_mem_allocator_test.c
  tests/unit/s2n_override_openssl_random_test.c
  tests/unit/s2n_random_test.c
  tests/unit/s2n_release_non_empty_buffers_test.c
  tests/unit/s2n_self_talk_broken_pipe_test.c
  tests/unit/s2n_self_talk_custom_io_test.c
  tests/unit/s2n_self_talk_min_protocol_version_test.c
  tests/unit/s2n_self_talk_session_id_test.c
  tests/unit/s2n_self_talk_tls12_test.c
  tests/unit/s2n_self_talk_tls13_test.c
  tests/unit/s2n_server_sct_list_extension_test.c
  tests/unit/s2n_tls_hybrid_prf_test.c
Labels: s2n-core

#3883 Fixes some compiler warnings coming from tests
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_extended_master_secret_test.c
Labels: s2n-core

#3887 chore: bump rust bindings for 1.3.39 release
  bindings/rust/README.md
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3832 test: cleanup tests
  tests/unit/s2n_self_talk_alerts_test.c
  tests/unit/s2n_self_talk_alpn_test.c
  tests/unit/s2n_self_talk_client_hello_cb_test.c
  tests/unit/s2n_self_talk_nonblocking_test.c
Labels: s2n-core

#3885 test: Add missing packages to nix devShell
  flake.nix
Labels: s2n-core

#3891 Document behavior of s2n_negotiate for a client with client auth
  api/s2n.h
  docs/USAGE-GUIDE.md
Labels: s2n-core

#3878 Enable strict compile checks in unit test build
  CMakeLists.txt
  codebuild/bin/s2n_codebuild.sh
Labels: s2n-core

#3871 Allow client hellos from raw bytes
  api/unstable/fingerprint.h
  codebuild/bin/grep_simple_mistakes.sh
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_fingerprint_ja3_test.c
  tls/s2n_client_hello.c
  tls/s2n_client_hello.h
  tls/s2n_connection.c
Labels: s2n-core

#3895 Add new security policy
  docs/USAGE-GUIDE.md
  tests/unit/s2n_security_policies_test.c
  tls/s2n_cipher_preferences.c
  tls/s2n_cipher_preferences.h
  tls/s2n_security_policies.c
  tls/s2n_security_policies.h
  tls/s2n_signature_scheme.c
  tls/s2n_signature_scheme.h
Labels: s2n-core

#3901 fix: remove broken check in test
  tests/unit/s2n_pq_kem_test.c
Labels: s2n-core

#3904 test: Nix s3 cache
  flake.nix
  nix/README.md
Labels: s2n-core, type/nix

#3909 chore: bump rust bindings
  bindings/rust/s2n-tls-sys/Cargo.toml
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#3908 Move secret type out of tls12/tls13 union
  tests/testlib/s2n_key_schedule_testlib.c
  tests/unit/s2n_key_update_test.c
  tests/unit/s2n_resume_test.c
  tests/unit/s2n_send_key_update_test.c
  tests/unit/s2n_server_new_session_ticket_test.c
  tests/unit/s2n_ssl_prf_test.c
  tests/unit/s2n_tls13_handshake_early_data_test.c
  tests/unit/s2n_tls13_key_schedule_rfc8448_test.c
  tests/unit/s2n_tls13_pq_handshake_test.c
  tests/unit/s2n_tls13_secrets_rfc8448_test.c
  tests/unit/s2n_tls13_secrets_test.c
  tests/unit/s2n_tls_hybrid_prf_test.c
  tests/unit/s2n_tls_prf_test.c
  tls/s2n_client_key_exchange.c
  tls/s2n_connection.h
  tls/s2n_crypto.h
  tls/s2n_key_log.c
  tls/s2n_prf.c
  tls/s2n_resume.c
  tls/s2n_server_hello.c
  tls/s2n_server_new_session_ticket.c
  tls/s2n_tls13_handshake.c
  tls/s2n_tls13_key_schedule.c
  tls/s2n_tls13_secrets.c
  tls/s2n_tls13_secrets.h
Labels: s2n-core

#3907 Don't set actual_protocol_version early when resuming a session
  tests/unit/s2n_client_hello_test.c
  tests/unit/s2n_resume_test.c
  tests/unit/s2n_self_talk_session_resumption_test.c
  tls/s2n_client_hello.c
  tls/s2n_connection.h
  tls/s2n_resume.c
  tls/s2n_server_hello.c
  tls/s2n_tls13_secrets.h
Labels: s2n-core

#3897 CI: Restrict Nix integ test to 1 job
  CMakeLists.txt
  nix/shell.sh
Labels: s2n-core
