Repository aws/s2n-tls, pull requests merged in 2024-01, with the labels that each got.

#4267 Add PQ integration tests between s2n and AWS-LC's libssl
  codebuild/bin/install_default_dependencies.sh
  tests/integrationv2/common.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_pq_handshake.py
Labels: type/post-quantum

#4343 feat: Publishes mdbook to Github Pages
  .github/workflows/usage_guide.yml
  README.md
Labels: s2n-core

#4345 bug: Fixes mdbook action
  .github/workflows/usage_guide.yml
  docs/usage-guide/topics/ch01-api.md
Labels: s2n-core

#4346 ktls: improve messaging around freed handshakes
  api/unstable/ktls.h
  tls/s2n_ktls.c
Labels: s2n-core

#4347 fix(bindings): remove optional cmake dependency
  bindings/rust/s2n-tls-sys/build.rs
  bindings/rust/s2n-tls-sys/templates/Cargo.template
Labels: s2n-core

#4355 fix: stack-use-after-scope variable ordering
  tls/s2n_ktls_io.c
Labels: s2n-core

#4048 ci: cmake asan build
  codebuild/README.md
  codebuild/spec/buildspec_asan.yml
Labels: s2n-core

#4356 bindings: clean up blinding tests
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
Labels: s2n-core

#4359 Move client hello parsing out of unstable
  api/s2n.h
  api/unstable/fingerprint.h
  docs/usage-guide/topics/ch10-client-hello.md
Labels: s2n-core

#4364 ktls: add method to track key updates
  api/unstable/ktls.h
  tests/unit/s2n_connection_test.c
  tests/unit/s2n_key_update_test.c
  tls/s2n_connection.c
  tls/s2n_connection.h
  tls/s2n_tls13_handshake.c
Labels: s2n-core

#4350 Fix s2n_shutdown + failed recv bug
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  tests/unit/s2n_shutdown_test.c
  tls/s2n_shutdown.c
Labels: s2n-core

#4358 bindings: fix handling of s2n_shutdown errors
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/tests/common/mod.rs
  bindings/rust/s2n-tls-tokio/tests/common/stream.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
Labels: s2n-core

#4370 Fix initialization errors in unit tests
  .github/s2n_osx.sh
  tests/testlib/s2n_mem_testlib.c
  tests/unit/s2n_mem_test.c
  utils/s2n_mem.c
  utils/s2n_mem.h
Labels: s2n-core

#4336 docs(bench): update docs to reflect aws-lc default
  bindings/rust/bench/README.md
  bindings/rust/bench/aws-lc-config/rustls.toml
  bindings/rust/bench/aws-lc-config/s2n.toml
Labels: s2n-core

#4351 refactor: ossl x509 parsing
  crypto/s2n_certificate.c
  crypto/s2n_openssl_x509.c
  crypto/s2n_openssl_x509.h
  crypto/s2n_pkey.c
  crypto/s2n_pkey.h
  tests/unit/s2n_certificate_test.c
  tests/unit/s2n_examples_test.c
  tests/unit/s2n_mem_usage_test.c
  tests/unit/s2n_openssl_x509_test.c
  tests/unit/s2n_x509_validator_test.c
  tls/s2n_x509_validator.c
Labels: s2n-core

#4368 feature: Use S2N_FAST_INTEG_TESTS to run pytest in parallel under nix
  CMakeLists.txt
Labels: s2n-core, type/nix

#4376 chore: bindings release 0.1.2
  bindings/rust/s2n-tls-sys/templates/Cargo.template
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#4365 chore: add valgrind to nix develop
  flake.nix
  nix/shell.sh
Labels: s2n-core

#4372 test: Adds SSLv3 integ test
  tests/integrationv2/common.py
  tests/integrationv2/configuration.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/tox.ini
Labels: s2n-core

#4381 More specific error for unexpected cert request
  error/s2n_errno.c
  error/s2n_errno.h
  tests/unit/s2n_client_auth_handshake_test.c
  tests/unit/s2n_self_talk_ktls_test.c
  tls/s2n_alerts.c
  tls/s2n_handshake_io.c
Labels: s2n-core

#4361 Fix SSLv3 detection with AWS-LC
  crypto/s2n_hmac.c
  tests/cbmc/proofs/s2n_hmac_is_available/Makefile
  tests/cbmc/proofs/s2n_hmac_is_available/s2n_hmac_is_available_harness.c
  tests/cbmc/stubs/s2n_libcrypto_is_awslc.c
  tests/integrationv2/providers.py
  tests/unit/s2n_sslv3_test.c
Labels: s2n-core

#4384 ci: Disable broken rust dry-runs
  bindings/rust/generate.sh
  bindings/rust/scripts/detect-new-release
Labels: s2n-core

#4389 enforce result checking for blob and mem
  CMakeLists.txt
  tests/unit/s2n_kem_test.c
  tests/unit/s2n_self_talk_nonblocking_test.c
  tests/unit/s2n_server_extensions_test.c
  tls/s2n_client_finished.c
  tls/s2n_record_write.c
  tls/s2n_resume.c
  tls/s2n_server_finished.c
  utils/s2n_blob.h
  utils/s2n_mem.h
Labels: s2n-core

#4374 s2n-tls-tokio: use s2n_shutdown_send instead of s2n_shutdown
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/tests/shutdown.rs
  bindings/rust/s2n-tls/src/connection.rs
Labels: s2n-core

#4393 chore(bindings): bump aws-lc-sys
  bindings/rust/s2n-tls-sys/templates/Cargo.template
Labels: s2n-core
