Repository aws/s2n-tls, pull requests merged in 2024-08, with the labels that each got.

#4617 feat(bindings): Add hyper compatibility crate
  .github/workflows/ci_rust.yml
  bindings/rust/Cargo.toml
  bindings/rust/s2n-tls-hyper/Cargo.toml
  bindings/rust/s2n-tls-hyper/README.md
  bindings/rust/s2n-tls-hyper/src/connector.rs
  bindings/rust/s2n-tls-hyper/src/error.rs
  bindings/rust/s2n-tls-hyper/src/lib.rs
  bindings/rust/s2n-tls-hyper/src/stream.rs
  bindings/rust/s2n-tls-hyper/tests/web_client.rs
Labels: s2n-core

#4683 chore(bindings): release 0.2.10
  bindings/rust/s2n-tls-hyper/Cargo.toml
  bindings/rust/s2n-tls-sys/templates/Cargo.template
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#4671 fix: don't fail for 0 blinding delay
  bin/common.c
  bin/s2nc.c
  bin/s2nd.c
  tests/unit/s2n_safety_blinding_test.c
  tls/s2n_connection.c
Labels: s2n-core

#4659 test(cbmc): add stuffer hex proofs
  tests/cbmc/proofs/s2n_stuffer_read_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_read_hex/s2n_stuffer_read_hex_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint16_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint16_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_read_uint16_hex/s2n_stuffer_read_uint16_hex_harness.c
  tests/cbmc/proofs/s2n_stuffer_read_uint8_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_read_uint8_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_read_uint8_hex/s2n_stuffer_read_uint8_hex_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_write_hex/s2n_stuffer_write_hex_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint16_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint16_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_write_uint16_hex/s2n_stuffer_write_uint16_hex_harness.c
  tests/cbmc/proofs/s2n_stuffer_write_uint8_hex/Makefile
  tests/cbmc/proofs/s2n_stuffer_write_uint8_hex/cbmc-proof.txt
  tests/cbmc/proofs/s2n_stuffer_write_uint8_hex/s2n_stuffer_write_uint8_hex_harness.c
Labels: s2n-core

#4685 fix: zip corpus files before uploading to s3
  tests/fuzz/runFuzzTest.sh
Labels: s2n-core

#4686 docs: update blinding docs
  docs/usage-guide/topics/ch03-error-handling.md
  docs/usage-guide/topics/ch07-io.md
Labels: s2n-core

#4688 fix(bindings): enforce waker contract on `poll` operations
  bindings/rust/s2n-tls-tokio/src/lib.rs
  bindings/rust/s2n-tls-tokio/src/task/mod.rs
  bindings/rust/s2n-tls-tokio/src/task/waker.rs
  bindings/rust/s2n-tls-tokio/src/task/waker/contract.rs
  bindings/rust/s2n-tls-tokio/tests/handshake.rs
  bindings/rust/s2n-tls/src/connection.rs
  bindings/rust/s2n-tls/src/testing.rs
Labels: s2n-core

#4690 chore: Bump rust bindings to 0.2.11
  bindings/rust/s2n-tls-hyper/Cargo.toml
  bindings/rust/s2n-tls-sys/templates/Cargo.template
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#4663 feat: Changes ticket encryption scheme to be nonce-reuse resistant
  bindings/rust/s2n-tls/src/config.rs
  tests/unit/s2n_resume_test.c
  tests/unit/s2n_session_ticket_test.c
  tls/s2n_resume.c
  tls/s2n_resume.h
  tls/s2n_server_new_session_ticket.c
Labels: s2n-core

#4678 ci: store fuzz artifacts in s3
  tests/fuzz/Makefile
  tests/fuzz/runFuzzTest.sh
Labels: s2n-core

#4654 chore: document OpenSSL-FIPS restriction on RSA key size
  crypto/s2n_rsa.c
  tests/testlib/s2n_testlib.h
Labels: s2n-core

#4693 fix(ci): partially revert checking out head from current clone.
  codebuild/bin/install_s2n_head.sh
Labels: s2n-core, type/nix

#4694 fix: upload fuzz output to s3 when test fails
  tests/fuzz/runFuzzTest.sh
Labels: s2n-core

#4697 chore: Rust bindings bump v0.3.0
  bindings/rust/s2n-tls-hyper/Cargo.toml
  bindings/rust/s2n-tls-sys/templates/Cargo.template
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
Labels: s2n-core

#4677 docs: add pq to usage guide
  bin/s2nc.c
  bin/s2nd.c
  bindings/rust/s2n-tls/src/security.rs
  crypto/s2n_libcrypto.c
  crypto/s2n_libcrypto.h
  docs/BUILD.md
  docs/usage-guide/topics/SUMMARY.md
  docs/usage-guide/topics/ch15-post-quantum.md
  tests/unit/s2n_security_policies_test.c
  tls/s2n_security_policies.c
Labels: s2n-core

#4696 chore: remove unused benchmarks
  .gitignore
  CMakeLists.txt
  Makefile
  codebuild/bin/install_default_dependencies.sh
  codebuild/bin/install_googlebenchmark.sh
  codebuild/bin/s2n_codebuild.sh
  docker-images/ubuntu/Dockerfile
  tests/Makefile
  tests/benchmark/Makefile
  tests/benchmark/Readme.md
  tests/benchmark/s2n_base64_benchmark.cc
  tests/benchmark/s2n_negotiate_benchmark.cc
  tests/benchmark/s2n_pem_parse_benchmark.cc
  tests/benchmark/utils/s2n_negotiate_client_benchmark.cc
  tests/benchmark/utils/s2n_negotiate_client_benchmark.h
  tests/benchmark/utils/s2n_negotiate_server_benchmark.cc
  tests/benchmark/utils/s2n_negotiate_server_benchmark.h
  tests/benchmark/utils/shared_info.cc
  tests/benchmark/utils/shared_info.h
Labels: s2n-core

#4676 fix: Initial config influences client hello parsing
  error/s2n_errno.c
  error/s2n_errno.h
  tests/testlib/s2n_sslv2_client_hello.h
  tests/unit/s2n_config_test.c
  tls/s2n_client_hello.c
  tls/s2n_connection.c
  tls/s2n_handshake_io.c
Labels: s2n-core

#4592 ci(nix): Startup/configure apache for renegotiate test under nix
  flake.nix
  nix/shell.sh
  tests/integrationv2/apache2/nix/conf/apache2.conf
  tests/integrationv2/apache2/nix/conf/mime.types
  tests/integrationv2/apache2/nix/conf/ports.conf
Labels: s2n-core

#4702 Clarify s2nc/s2nd PQ output
  bin/echo.c
  nix/README.md
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_well_known_endpoints.py
Labels: s2n-core

#4669 feat: JA4 fingerprinting
  api/unstable/fingerprint.h
  bindings/rust/s2n-tls/src/fingerprint.rs
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4.txt
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/alpn-extension-value.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/cipher-hash.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/details.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/example.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/extension-hash.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/ja4-algorithm.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/ja4-tls-client-fingerprinting.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/number-of-ciphers.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/number-of-extensions.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/quic.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/raw-output.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/sni.toml
  compliance/specs/raw.githubusercontent.com/FoxIO-LLC/ja4/v0.18.2/technical_details/JA4/tls-version.toml
  tests/unit/s2n_fingerprint_ja4_test.c
  tls/s2n_fingerprint.c
  tls/s2n_fingerprint.h
  tls/s2n_fingerprint_ja3.c
  tls/s2n_fingerprint_ja4.c
Labels: s2n-core

#4708 fix(bindings): ConfigPool should always yield associated connections
  bindings/rust/bench/Cargo.toml
  bindings/rust/bench/benches/connection_creation.rs
  bindings/rust/s2n-tls/src/pool.rs
  bindings/rust/s2n-tls/src/testing.rs
Labels: s2n-core

#4719 chore(bindings): release 0.3.1
  bindings/rust/s2n-tls-hyper/Cargo.toml
  bindings/rust/s2n-tls-sys/templates/Cargo.template
  bindings/rust/s2n-tls-tokio/Cargo.toml
  bindings/rust/s2n-tls/Cargo.toml
  tests/regression/Cargo.toml
Labels: s2n-core

#4695 docs: Add a supported platforms section
  README.md
Labels: s2n-core

#4716 chore: bump versions of aws-lc and aws-lc-fips
  codebuild/bin/install_awslc.sh
  codebuild/bin/install_awslc_fips_2022.sh
  flake.lock
  flake.nix
  tests/unit/s2n_mem_usage_test.c
Labels: s2n-core, type/nix

#4721 fix: correct JA4 alpn parsing
  tests/unit/s2n_fingerprint_ja4_test.c
  tls/s2n_fingerprint_ja4.c
Labels: s2n-core

#4714 tests: add JA4 pcap tests
  .github/workflows/ci_rust.yml
  tests/pcap/Cargo.toml
  tests/pcap/src/client_hello.rs
  tests/pcap/tests/s2n_client_hellos.rs
Labels: s2n-core

#4712 refactor: minor fixes for common fingerprint code
  tests/unit/s2n_fingerprint_test.c
  tls/s2n_fingerprint.c
  tls/s2n_fingerprint.h
  tls/s2n_fingerprint_ja3.c
  tls/s2n_fingerprint_ja4.c
Labels: s2n-core

#4722 fix: resolve UBSAN violations in the codebase
  stuffer/s2n_stuffer.c
  tests/s2n_test.h
  tests/testlib/s2n_test_server_client.c
Labels: s2n-core

#4729 chore: cleanup old docker dev build
  docker-images/.gitignore
  docker-images/Makefile
  docker-images/docker-compose.yml
  docker-images/ubuntu/Dockerfile
Labels: s2n-core

#4727 ci: add separate license check
  .github/workflows/ci_linting.yml
  codebuild/bin/header_mistake_scanner.sh
Labels: s2n-core

#4703 fix(ci): update CBMC proofs' Makefile.common
  tests/cbmc/proofs/Makefile.common
Labels: CBMC

#4733 fix: Cleanup libcrypto errors
  crypto/s2n_composite_cipher_aes_sha.c
  crypto/s2n_kyber_evp.c
  error/s2n_errno.c
  error/s2n_errno.h
  tests/unit/s2n_cert_authorities_test.c
  tests/unit/s2n_client_hello_retry_test.c
  tests/unit/s2n_client_key_share_extension_pq_test.c
  tests/unit/s2n_kex_with_kem_test.c
  tests/unit/s2n_pq_kem_test.c
  tests/unit/s2n_server_key_share_extension_test.c
  tls/extensions/s2n_cert_authorities.c
  tls/extensions/s2n_client_key_share.c
  tls/extensions/s2n_server_key_share.c
  tls/s2n_kex.c
  tls/s2n_server_hello_retry.c
Labels: s2n-core

#4732 chore(integrationv2): add license header
  codebuild/bin/header_mistake_scanner.sh
  tests/integrationv2/common.py
  tests/integrationv2/configuration.py
  tests/integrationv2/conftest.py
  tests/integrationv2/constants.py
  tests/integrationv2/fixtures.py
  tests/integrationv2/global_flags.py
  tests/integrationv2/processes.py
  tests/integrationv2/providers.py
  tests/integrationv2/test_buffered_send.py
  tests/integrationv2/test_client_authentication.py
  tests/integrationv2/test_cross_compatibility.py
  tests/integrationv2/test_dynamic_record_sizes.py
  tests/integrationv2/test_early_data.py
  tests/integrationv2/test_external_psk.py
  tests/integrationv2/test_fragmentation.py
  tests/integrationv2/test_happy_path.py
  tests/integrationv2/test_hello_retry_requests.py
  tests/integrationv2/test_key_update.py
  tests/integrationv2/test_npn.py
  tests/integrationv2/test_ocsp.py
  tests/integrationv2/test_pq_handshake.py
  tests/integrationv2/test_record_padding.py
  tests/integrationv2/test_renegotiate.py
  tests/integrationv2/test_renegotiate_apache.py
  tests/integrationv2/test_serialization.py
  tests/integrationv2/test_session_resumption.py
  tests/integrationv2/test_signature_algorithms.py
  tests/integrationv2/test_sni_match.py
  tests/integrationv2/test_sslyze.py
  tests/integrationv2/test_version_negotiation.py
  tests/integrationv2/test_well_known_endpoints.py
  tests/integrationv2/utils.py
Labels: s2n-core

#4740 ci: Add UBSAN test to the sanitizer
  codebuild/spec/buildspec_sanitizer.yml
Labels: s2n-core, do_not_merge

#4728 tests(pcaps): download additional pcaps
  tests/pcap/Cargo.toml
  tests/pcap/build.rs
  tests/pcap/src/handshake_message.rs
  tests/pcap/src/lib.rs
Labels: s2n-core

#4718 docs: add test readme
  tests/README.md
Labels: s2n-core
